/* screen - bettermidapp-mimi-nfts-1 */

.bettermidapp-mimi-nfts-1 {
  background: linear-gradient(180deg, #171717 0%, #291a49 41.22%, #171717 100%);
  background-color: rgba(255,255,255,1.0);
  height: 844px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.bettermidapp-mimi-nfts-1 .bg-ipEwgj {
  height: 934px;
  width: 480px;
}

.bettermidapp-mimi-nfts-1 .bars-status-bar-i-phone-light-ipEwgj {
  top: 0px;
  width: 390px;
}

.bettermidapp-mimi-nfts-1 .scroll-nft-card-ipEwgj::-webkit-scrollbar {
  display: none;
  width: 0;
}

.bettermidapp-mimi-nfts-1 .scroll-nft-card-ipEwgj {
  background-color: transparent;
  height: 756px;
  left: 26px;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: absolute;
  top: 88px;
  width: 339px;
  margin-top: 40px;
}

.bettermidapp-mimi-nfts-1 .repeated-nft-card-19dZDf {
  background-color: transparent;
  height: 996px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 339px;
}

.bettermidapp-mimi-nfts-1 .x16217-VwzVjk {
  left: 0px;
  top: 0px;
}

.bettermidapp-mimi-nfts-1 .ic_send-DhT6v2 {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-USHlN8 {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-srSqic {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-ssUnfI {
  left: 177px;
  top: 0px;
}

.bettermidapp-mimi-nfts-1 .ic_send-jxGQtF {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-CdJede {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-G9bwBo {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-4iQVot {
  left: 0px;
  top: 337px;
}

.bettermidapp-mimi-nfts-1 .ic_send-ImTyxU {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-6aXymi {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-lmLWrF {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-vaxOuK {
  left: 177px;
  top: 337px;
}

.bettermidapp-mimi-nfts-1 .ic_send-CEvQNx {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-QzS03L {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-sxzbHC {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-e5wAUf {
  left: 0px;
  top: 674px;
}

.bettermidapp-mimi-nfts-1 .ic_send-VTGvEh {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-RWwapn {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-HxKb0m {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-IgZtda {
  left: 177px;
  top: 674px;
}

.bettermidapp-mimi-nfts-1 .ic_send-aVD1X9 {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-BnGgTr {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-8rVG3l {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .button_nft_-on-duty-19dZDf {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 291px;
  width: 100px;
}

.bettermidapp-mimi-nfts-1 .x119-xqjMJ3 {
  background-color: var(--keppel);
}

.bettermidapp-mimi-nfts-1 .on-duty-xqjMJ3 {
  font-size: 12px;
  color: var(--white);
  font-family: var(--font-family-inter);
  background-color: transparent;
  height: 17px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: calc(42.86% - 7px);
  white-space: nowrap;
  width: calc(100.00% - 25px);

}

.bettermidapp-mimi-nfts-1 .title-bar-ipEwgj {
  background-color: transparent;
  height: 189px;
  left: 0px;
  position: fixed;
  top: -0px;
  width: 390px;
}

.bettermidapp-mimi-nfts-1 .bg-efxqDX {
  height: calc(100.00% - 11px);
  width: calc(100.00% + 90px);
}

.bettermidapp-mimi-nfts-1 .bars-status-bar-i-phone-light-efxqDX {
  top: 1px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .my-nf-ts-efxqDX {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  height: 23px;
  left: calc(22.36% - 17px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(34.23% - 8px);
  white-space: nowrap;
  width: 77px;
}

.bettermidapp-mimi-nfts-1 .seperat-line-efxqDX {
  left: 1px;
  top: 46.68%;
  width: calc(100.00% - 1px);
}

.bettermidapp-mimi-nfts-1 .ic_add-efxqDX {
  height: 18px;
  right: 30px;
  top: calc(33.52% - 6px);
  width: 18px;
}

.bettermidapp-mimi-nfts-1 .add-nPxmxE {
  background-color: transparent;
  height: calc(100.00% - 8px);
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}

.bettermidapp-mimi-nfts-1 .ic_add-nPxmxE {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .drop-down-list-efxqDX {
  background-color: transparent;
  bottom: 0px;
  height: 130px;
  position: absolute;
  right: calc(24.47% - 26px);
  width: 108px;
}

.bettermidapp-mimi-nfts-1 .ic_arrow_drop_down-gw8q3Y {
  height: 5px;
  right: 0px;
  top: 5px;
  width: 10px;
}

.bettermidapp-mimi-nfts-1 .ic_arrow_drop_down-EWK4pQ {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .free-gw8q3Y {
  background-color: transparent;
  height: 17px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  top: -2px;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-mimi-nfts-1 .drop-down-_options-gw8q3Y {
  background-color: transparent;
  bottom: 0px;
  height: 105px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 5px);
}

.bettermidapp-mimi-nfts-1 .x892-VGCwkP {
  background-color: #0d0d0d;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .seperat-line-VGCwkP {
  left: 0px;
  top: 33.17%;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .seperat-line-lSZ49y {
  bottom: 33.17%;
  left: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .lowest-price-VGCwkP {
  background-color: transparent;
  height: 17px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  top: 8px;
  white-space: nowrap;
  width: calc(100.00% - 28px);
}

.bettermidapp-mimi-nfts-1 .highest-price-VGCwkP {
  background-color: transparent;
  height: 17px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  top: calc(48.86% - 8px);
  white-space: nowrap;
  width: calc(100.00% - 19px);
}

.bettermidapp-mimi-nfts-1 .all-VGCwkP {
  background-color: transparent;
  bottom: 10px;
  height: 17px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: calc(100.00% - 28px);
}

.bettermidapp-mimi-nfts-1 .icon-arrow-left-efxqDX {
  cursor: pointer;
  height: 44px;
  left: 16px;
  top: calc(30.57% - 13px);
  width: 44px;
}

.bettermidapp-mimi-nfts-1 .icon-arrow-left-TgqIrE {
  height: 35.44%;
  left: 31.82%;
  object-fit: cover;
  top: 31.82%;
  width: 36.36%;
}

.bettermidapp-mimi-nfts-1 .bars-status-bar-i-phone-light {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .battery {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 0px;
  top: calc(42.50% - 5px);
  width: 24px;
}

.bettermidapp-mimi-nfts-1 .bg {
  background-color: transparent;
  left: -45px;
  object-fit: cover;
  position: absolute;
  top: -45px;
}

.bettermidapp-mimi-nfts-1 .border {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--white);
  border-radius: 2.67px;
  height: 100%;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.bettermidapp-mimi-nfts-1 .button_nft_-equip {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 291px;
  width: 100px;
}

.bettermidapp-mimi-nfts-1 .cap {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 1px;
}

.bettermidapp-mimi-nfts-1 .capacity {
  background-color: var(--white);
  border-radius: 1.33px;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}

.bettermidapp-mimi-nfts-1 .cellular-connection {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 50px;
  top: 3px;
  width: 17px;
}

.bettermidapp-mimi-nfts-1 .equip {
  font-size: 12px;
  background-color: transparent;
  height: 17px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: calc(42.86% - 7px);
  white-space: nowrap;
  width: calc(100.00% - 25px);
  color: var(--white);
  font-family: var(--font-family-inter);
}

.bettermidapp-mimi-nfts-1 .frame {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  opacity: 0.0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .ic_add {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .ic_arrow_drop_down {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .ic_send {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .icon-arrow-left {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .lv-1 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 250px;
  white-space: nowrap;
  width: auto;
}

.bettermidapp-mimi-nfts-1 .nft {
  background-color: transparent;
  border-radius: 10px;
  height: 217px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 152px;
}

.bettermidapp-mimi-nfts-1 .nft-box {
  background-color: transparent;
  height: 322px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 162px;
}

.bettermidapp-mimi-nfts-1 .reward-10 {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 250px;
  white-space: nowrap;
  width: auto;
  font-size: 12px;
}

.bettermidapp-mimi-nfts-1 .seperat-line {
  background-color: transparent;
  height: 1px;
  object-fit: cover;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .seperate-line {
  background-color: transparent;
  height: 15px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 248px;
  width: 1px;
}

.bettermidapp-mimi-nfts-1 .status-bar {
  background-color: transparent;
  bottom: calc(47.83% - 9px);
  height: 18px;
  left: 18px;
  position: absolute;
  width: calc(100.00% - 35px);
}

.bettermidapp-mimi-nfts-1 .time {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-sfpro_text-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.bettermidapp-mimi-nfts-1 .time-style {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 54px;
}

.bettermidapp-mimi-nfts-1 .wifi {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 29px;
  top: 3px;
  width: 15px;
}

.bettermidapp-mimi-nfts-1 .x0-signa {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 268px;
  white-space: nowrap;
  width: auto;
}

.bettermidapp-mimi-nfts-1 .x00000001 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 222px;
  white-space: nowrap;
  width: 97px;
}

.bettermidapp-mimi-nfts-1 .x119 {
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x16217 {
  background-color: transparent;
  height: 322px;
  position: absolute;
  width: 162px;
}
