/* screen - bettermidapp-mimi-nfts-1 */

.bettermidapp-mimi-nfts-1 {
  background: linear-gradient(180deg, #171717 0%, #291a49 41.22%, #171717 100%);
  background-color: rgba(255,255,255,1.0);
  height: 844px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.bettermidapp-mimi-nfts-send-address-1 .importButton{
  position:relative;
  left:263px;
  height:25px;
  width:80px;
  top:54px;
  background-color:inherit;
  border:none;
  color:#FFFFFF;
}


.bettermidapp-mimi-nfts-1 .bg-ipEwgj {
  height: 934px;
  width: 480px;
}

.bettermidapp-mimi-nfts-1 .bars-status-bar-i-phone-light-ipEwgj {
  top: 0px;
  width: 390px;
}

.bettermidapp-mimi-nfts-1 .scroll-nft-card-ipEwgj::-webkit-scrollbar {
  display: none;
  width: 0;
}

.bettermidapp-mimi-nfts-1 .scroll-nft-card-ipEwgj {
  background-color: transparent;
  height: 756px;
  left: 26px;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: absolute;
  top: 88px;
  width: 339px;
  margin-top: 40px;
}

.bettermidapp-mimi-nfts-1 .repeated-nft-card-19dZDf {
  background-color: transparent;
  height: 996px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 339px;
}

.bettermidapp-mimi-nfts-1 .x16217-VwzVjk {
  left: 0px;
  top: 0px;
}

.bettermidapp-mimi-nfts-1 .ic_send-DhT6v2 {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-USHlN8 {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-srSqic {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-ssUnfI {
  left: 177px;
  top: 0px;
}

.bettermidapp-mimi-nfts-1 .ic_send-jxGQtF {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-CdJede {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-G9bwBo {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-4iQVot {
  left: 0px;
  top: 337px;
}

.bettermidapp-mimi-nfts-1 .ic_send-ImTyxU {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-6aXymi {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-lmLWrF {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-vaxOuK {
  left: 177px;
  top: 337px;
}

.bettermidapp-mimi-nfts-1 .ic_send-CEvQNx {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-QzS03L {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-sxzbHC {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-e5wAUf {
  left: 0px;
  top: 674px;
}

.bettermidapp-mimi-nfts-1 .ic_send-VTGvEh {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-RWwapn {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-HxKb0m {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .x16217-IgZtda {
  left: 177px;
  top: 674px;
}

.bettermidapp-mimi-nfts-1 .ic_send-aVD1X9 {
  height: 18px;
  left: 121px;
  top: 291px;
  width: 21px;
}

.bettermidapp-mimi-nfts-1 .ic_send-BnGgTr {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x119-8rVG3l {
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  background-color: transparent;
}

.bettermidapp-mimi-nfts-1 .button_nft_-on-duty-19dZDf {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 291px;
  width: 100px;
}

.bettermidapp-mimi-nfts-1 .x119-xqjMJ3 {
  background-color: var(--keppel);
}

.bettermidapp-mimi-nfts-1 .on-duty-xqjMJ3 {
  font-size: 12px;
  color: var(--white);
  font-family: var(--font-family-inter);
  background-color: transparent;
  height: 17px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: calc(42.86% - 7px);
  white-space: nowrap;
  width: calc(100.00% - 25px);

}

.bettermidapp-mimi-nfts-1 .title-bar-ipEwgj {
  background-color: transparent;
  height: 189px;
  left: 0px;
  position: fixed;
  top: -0px;
  width: 390px;
}

.bettermidapp-mimi-nfts-1 .bg-efxqDX {
  height: calc(100.00% - 11px);
  width: calc(100.00% + 90px);
}

.bettermidapp-mimi-nfts-1 .bars-status-bar-i-phone-light-efxqDX {
  top: 1px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .my-nf-ts-efxqDX {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  height: 23px;
  left: calc(22.36% - 17px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(34.23% - 8px);
  white-space: nowrap;
  width: 77px;
}

.bettermidapp-mimi-nfts-1 .seperat-line-efxqDX {
  left: 1px;
  top: 46.68%;
  width: calc(100.00% - 1px);
}

.bettermidapp-mimi-nfts-1 .ic_add-efxqDX {
  height: 18px;
  right: 30px;
  top: calc(33.52% - 6px);
  width: 18px;
}

.bettermidapp-mimi-nfts-1 .add-nPxmxE {
  background-color: transparent;
  height: calc(100.00% - 8px);
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 8px);
}

.bettermidapp-mimi-nfts-1 .ic_add-nPxmxE {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .drop-down-list-efxqDX {
  background-color: transparent;
  bottom: 0px;
  height: 130px;
  position: absolute;
  right: calc(24.47% - 26px);
  width: 108px;
}

.bettermidapp-mimi-nfts-1 .ic_arrow_drop_down-gw8q3Y {
  height: 5px;
  right: 0px;
  top: 5px;
  width: 10px;
}

.bettermidapp-mimi-nfts-1 .ic_arrow_drop_down-EWK4pQ {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .free-gw8q3Y {
  background-color: transparent;
  height: 17px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  top: -2px;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-mimi-nfts-1 .drop-down-options-gw8q3Y {
  background-color: transparent;
  bottom: 0px;
  height: 105px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 5px);
}

.bettermidapp-mimi-nfts-1 .x892-VGCwkP {
  background-color: #0d0d0d;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .seperat-line-VGCwkP {
  left: 0px;
  top: 33.17%;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .seperat-line-lSZ49y {
  bottom: 33.17%;
  left: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .lowest-price-VGCwkP {
  background-color: transparent;
  height: 17px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  top: 8px;
  white-space: nowrap;
  width: calc(100.00% - 28px);
}

.bettermidapp-mimi-nfts-1 .highest-price-VGCwkP {
  background-color: transparent;
  height: 17px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  top: calc(48.86% - 8px);
  white-space: nowrap;
  width: calc(100.00% - 19px);
}

.bettermidapp-mimi-nfts-1 .all-VGCwkP {
  background-color: transparent;
  bottom: 10px;
  height: 17px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: calc(100.00% - 28px);
}

.bettermidapp-mimi-nfts-1 .icon-arrow-left-efxqDX {
  cursor: pointer;
  height: 44px;
  left: 16px;
  top: calc(30.57% - 13px);
  width: 44px;
}

.bettermidapp-mimi-nfts-1 .icon-arrow-left-TgqIrE {
  height: 35.44%;
  left: 31.82%;
  object-fit: cover;
  top: 31.82%;
  width: 36.36%;
}

.bettermidapp-mimi-nfts-1 .bars-status-bar-i-phone-light {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .battery {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 0px;
  top: calc(42.50% - 5px);
  width: 24px;
}

.bettermidapp-mimi-nfts-1 .bg {
  background-color: transparent;
  left: -45px;
  object-fit: cover;
  position: absolute;
  top: -45px;
}

.bettermidapp-mimi-nfts-1 .border {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--white);
  border-radius: 2.67px;
  height: 100%;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.bettermidapp-mimi-nfts-1 .button_nft_-equip {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 291px;
  width: 100px;
}

.bettermidapp-mimi-nfts-1 .cap {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 1px;
}

.bettermidapp-mimi-nfts-1 .capacity {
  background-color: var(--white);
  border-radius: 1.33px;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}

.bettermidapp-mimi-nfts-1 .cellular-connection {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 50px;
  top: 3px;
  width: 17px;
}

.bettermidapp-mimi-nfts-1 .equip {
  font-size: 12px;
  background-color: transparent;
  height: 17px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: calc(42.86% - 7px);
  white-space: nowrap;
  width: calc(100.00% - 25px);
  color: var(--white);
  font-family: var(--font-family-inter);
}

.bettermidapp-mimi-nfts-1 .frame {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  opacity: 0.0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .ic_add {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .ic_arrow_drop_down {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .ic_send {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .icon-arrow-left-popup {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .lv-1 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 250px;
  white-space: nowrap;
  width: auto;
}

.bettermidapp-mimi-nfts-1 .nft {
  background-color: transparent;
  border-radius: 10px;
  height: 217px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 152px;
}

.bettermidapp-mimi-nfts-1 .nft-box {
  background-color: transparent;
  height: 322px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 162px;
}

.bettermidapp-mimi-nfts-1 .reward-10 {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 250px;
  white-space: nowrap;
  width: auto;
  font-size: 12px;
}

.bettermidapp-mimi-nfts-1 .seperat-line {
  background-color: transparent;
  height: 1px;
  object-fit: cover;
  position: absolute;
}

.bettermidapp-mimi-nfts-1 .seperate-line {
  background-color: transparent;
  height: 15px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 248px;
  width: 1px;
}

.bettermidapp-mimi-nfts-1 .status-bar {
  background-color: transparent;
  bottom: calc(47.83% - 9px);
  height: 18px;
  left: 18px;
  position: absolute;
  width: calc(100.00% - 35px);
}

.bettermidapp-mimi-nfts-1 .time {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-sfpro_text-semibold);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.bettermidapp-mimi-nfts-1 .time-style {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 54px;
}

.bettermidapp-mimi-nfts-1 .wifi {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 29px;
  top: 3px;
  width: 15px;
}

.bettermidapp-mimi-nfts-1 .x0-signa {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 268px;
  white-space: nowrap;
  width: auto;
}

.bettermidapp-mimi-nfts-1 .x00000001 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 222px;
  white-space: nowrap;
  width: 97px;
}

.bettermidapp-mimi-nfts-1 .x119 {
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-mimi-nfts-1 .x16217 {
  background-color: transparent;
  height: 322px;
  position: absolute;
  width: 162px;
}

/* Anderson's Code*/
.containerMyNftList{
  position: absolute;
  left:calc((100vw - 390px) / 2);
  /* background-color: #4136f1; */
  background-color: inherit;
  width:390px;
  top:88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerMyNftList-popup {
  position: absolute;
  left:calc((100vw - 390px) / 2);
  /* background-color: #4136f1; */
  background-color: inherit;
  width:390px;
  top:88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100vh - 88px);
  overflow: hidden;
  cursor: pointer;
}


.containerMyNftList2{
  margin-top: 10px;
  width:340px;
  flex-wrap: wrap;
  display: flex;
  background-color: inherit;
  /* background-color: aquamarine; */
  align-self: center;
  justify-content: space-between;
}
.myNftList{
  height:322px;
  width:162px;
  /* background-color: inherit; */
  background-color: #0D0D0D;
  align-self: center;
  gap:8px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border:#4136F1 solid 1px;
  border-radius: 5px;
}
.myNftList1{
  height:322px;
  width:152px;
  background-color: #8643ff;
  align-self: center;
  margin-left: 31px;
  margin-bottom: 14px;
}
.myNftList2{
  height:322px;
  width:152px;
  background-color: #8643ff;
  align-self: center;
  margin-right: 31px;
  margin-bottom: 14px;
}
.myNftImage{
  height:217px;
  width: 137px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}
.myNftEmptyImage{
  height:217px;
  width: 137px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: linear-gradient(112deg, #221D4B 0%, #171717 100%);
}
.myNftDescription{
  background-color: inherit;
  /* background-color: rgb(0, 255, 60); */
  width:137px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.myNftNumber{
  color:#5146FF;
  font-family: var(--font-family-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.myNftLevel{
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color:#39B3AF;
}

.myNftReward{
  /* font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color:#FFFFFF;
  text-align:left; */
  background-color: #39B3AF;
}

.myNftPrice{
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  /* font-weight: 600; */
  color:#A6B3BB98;
}
.myNftButton{
  width:100px;
  height:31px;
  background:  linear-gradient(90deg, #4136F1 0%, #8643FF 100%);
  border-radius: 3px;
  border: 0px;
  color:#FFFFFF;
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.myNftButtonDisabled{
  width:100px;
  height:31px;
  background:  linear-gradient(90deg, #4136F1 0%, #8643FF 100%);
  border-radius: 3px;
  border: 0px;
  color:#FFFFFF;
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  opacity:0.4;
}
.myNftButton:hover{
opacity: 0.5;
}
.myNftBottom{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}

.myNftButtomArrow{
  align-self: center;
  width:21px;
  height:18px;
  margin-right: 18px;
  cursor: pointer;
}
.myNftButtomArrowDisabled{
  align-self: center;
  width:21px;
  height:18px;
  margin-right: 20px;
  cursor: pointer;
  opacity:0.4;
}


.myNftButtonOnDuty{
  width:100px;
  height:31px;
  background:  #39B3AF;
  border-radius: 3px;
  border: 0px;
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color:#FFFFFF
}
.myNftButtonOnDuty:hover{
  opacity: 0.5;
  cursor: pointer;
}

.bettermidapp-mimi-nfts-send-address-1 .edit-profile-layer {
  background-color: #0d0d0dcb;
  display: flex;
  flex-direction: column;
  gap: 9.5px;
  /* height: 844px; */
  height: 100vh;
  left: calc((100vw - 390px) / 2);
  position: absolute;
  /* top: 45px; */
  top: 0px;
  width: 390px;
  overflow: hidden;
  z-index: 999;
}

.bettermidapp-mimi-nfts-send-address-1 .icon-arrow-left-1-popup {
  margin-left: 30px;
  margin-top: 58px;
  cursor: pointer;
  z-index: 1000;
  background: linear-gradient(112deg, #221D4B 0%, #171717 100%);
}

.bettermidapp-mimi-nfts-send-address-1 .icon-arrow-left-popup {
  height: 16px;
  object-fit: cover;
  width: 16px;
  /* cursor: pointer; */
}

.bettermidapp-mimi-nfts-send-address-1 .edit-profile {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-bottom: 58.5px;
  margin-left: 28.8px;
  margin-right: 28.8px;
  min-width: calc(100.00% - 58px);
}

.bettermidapp-mimi-nfts-send-address-1 .overlap-group-1 {
  height: 720px;
  margin-left: -45px;
  margin-top: -27.0px;
  position: relative;
  width: 422px;
}

.bettermidapp-mimi-nfts-send-address-1 .seperate-line-1 {
  height: 90px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 422px;
}

.bettermidapp-mimi-nfts-send-address-1 .bg {
  height: 100%;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 392px;
}

.bettermidapp-mimi-nfts-send-address-1 .seperat-line-1 {
  top: 92px;
  width: 332px;
}

.bettermidapp-mimi-nfts-send-address-1 .transfer-n-ft {
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 112px;
  white-space: nowrap;
}

.bettermidapp-mimi-nfts-send-address-1 .recipient {
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 333px;
  white-space: nowrap;
}

.bettermidapp-mimi-nfts-send-address-1 .nft-details {
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 223px;
  white-space: nowrap;
}

.bettermidapp-mimi-nfts-send-address-1 .rewards {
  display: flex;
  height: 21px;
  justify-content: center;
  gap: 10px;
  left: 168px;
  position: absolute;
  top: 52px;
  width: 87px;
}

.bettermidapp-mimi-nfts-send-address-1 .ic_send-1 {
  /* background-image: url(../img/ic-send-1@1x.png); */
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 1.5px;
  margin-top: 1.5px;
  width: 21px;
}

.bettermidapp-mimi-nfts-send-address-1 .place {
  letter-spacing: 0;
  line-height: 20px;
  /* margin-bottom: -2.5px;
  margin-right: -2px;
  margin-top: 0.5px; */
  text-align: center;
  white-space: nowrap;
  /* width: 46px; */
}

.bettermidapp-mimi-nfts-send-address-1 .search_bar {
  background-color: var(--royal-blue);
  border-radius: 10px;
  height: 56px;
  left: 61px;
  position: absolute;
  top: 147px;
  width: 300px;
}

.bettermidapp-mimi-nfts-send-address-1 .search_bar-1 {
  align-items: flex-end;
  display: flex;
  height: 56px;
  min-width: 300px;
  padding: 16.5px 15px;
  top: 390px;
  color: #FFFFFF;
}

.bettermidapp-mimi-nfts-send-address-1 .card-number {
  color: var(--cadet-blue);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14px;
  min-height: 21px;
  width: 266px;
  margin: 0;
}

.bettermidapp-mimi-nfts-send-address-1 .search_bar-2 {
  height: 56px;
  top: 258px;
  width: 300px;
}

.bettermidapp-mimi-nfts-send-address-1 .button_save {
  align-items: center;
  background: linear-gradient(-90deg, #8743ff 0%, #4136f1 100%);
  border-radius: 10px;
  box-shadow: 0px 15px 30px #1466cc29;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: center;
  left: 87px;
  min-width: 248px;
  padding: 13.5px 91px;
  position: absolute;
  top: 659px;
}

.bettermidapp-mimi-nfts-send-address-1 .continue {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 21px;
  min-width: 64px;
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-mimi-nfts-send-address-1 .address-id-to-send-nft-to {
  color: var(--hot-magenta);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 357px;
  white-space: nowrap;
  margin: 0;
}
.normalMessage{
  color: var(--cadet-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 357px;
  white-space: nowrap;
  margin: 0;

}

.bettermidapp-mimi-nfts-send-address-1 .text-7 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  left: 128px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 161px;
  white-space: nowrap;
  margin: 0;
}
.x0-signa-1-level {
  color: var(--keppel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 500;
}

.x0-signa-1-reward {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 500;
}

.x0-signa-1-block {
  height: 17px;
  width: 1px;
  background-color: #A6B3BB33;
}

.bettermidapp-mimi-nfts-send-address-1 .x16228 {
  color: var(--cadet-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 400;
}

.bettermidapp-mimi-nfts-send-address-1 .x0-signa-1 {

  display: flex;
  gap: 10px;
  /* left: 287px; */
  right: 15.75px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 225px;
  white-space: nowrap;
}

.bettermidapp-mimi-nfts-send-address-1 .x16228 {
  align-items: flex-end;
  display: flex;
  height: 17px;
  left: 76px;
  min-width: 150px;
  position: absolute;
  top: 278px;
}

.bettermidapp-mimi-nfts-send-address-1 .lv-1-1 {
  color: var(--keppel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -3.5px;
  min-height: 19px;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-mimi-nfts-send-address-1 .x6 {
  align-self: flex-start;
  height: 15px;
  margin-left: 8px;
  margin-top: 0.5px;
  object-fit: cover;
  width: 1px;
}

.bettermidapp-mimi-nfts-send-address-1 .reward-10-1 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -3.5px;
  margin-left: 10px;
  min-height: 19px;
  min-width: 102px;
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-mimi-nfts-send-address-1 .search_bar-3 {
  align-items: flex-start;
  display: flex;
  height: 121px;
  min-width: 300px;
  top: 500px;
  text-align: 'left';
  vertical-align: top;
  overflow: 'auto';    
  white-space: 'normal'; 
  padding:10px;
  color:#FFFFFF;
}

.bettermidapp-mimi-nfts-send-address-1 .card-number-1 {
  color: var(--cadet-blue);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  /* min-height: 87px; */
  width: 262px;
  margin: 0;
}

.bettermidapp-mimi-nfts-send-address-1 .active-card-number-1 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  width: 262px;
  margin: 0;
}


.bettermidapp-mimi-nfts-send-address-1 .additional-text {
  left: 60px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 466px;
  white-space: nowrap;
}


.bettermidapp-mimi-nfts-send-address-1 .search_bar-4 {
  background-color: #FFFFFF08;
  border-radius: 10px;
  left: 61px;
  position: absolute;
}

.bettermidapp-mimi-nfts-send-address-1 .seperat-line-3 {
  height: 1px;
  left: 46px;
  object-fit: cover;
  position: absolute;
}

.bettermidapp-mimi-nfts-send-address-1 .ic_send-1-content {
  /* object-fit: cover; */
  height: 18px;
  width: 21px;
}

.myNftVerticalLine{
  width:1px;
  background-color: #A6B3BB33;
}
.myNftBar{
  display:flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 10px;
}
.myNftSend{
  background-color: inherit;
  border:hidden;
}
.myNftSend:hover{
  opacity: 0.5;
  cursor: pointer;
}

.myNftListEmptyNft {
  background: linear-gradient(90deg, #0d0d0d 0%, #4136f1 102.54%);
  border: 1px solid;
  border-color: var(--royal-blue);
  border-radius: 10px;
  flex: 0 0 auto;
  height: 197px;
  position: relative;
  width: 137px;
  cursor: pointer;
  margin-left:10px;
  margin-right: 10px;
  margin-top: 20px;
}
.myNftListEmptyNft:hover {
  cursor: pointer;
}


.myNftListAdd {
  height: 30px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 30px;
}
.myNftListadd2 {
  height: 28px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 28px;
}

.nftPriceInputBoxImport{
  color: var(--cadet-blue);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  /* min-height: 87px; */
  width: 262px;
  margin: 0;
  align-items: flex-end;
  display: flex;
  height: 56px;
  min-width: 300px;
  padding: 16.5px 15px;
  top: 205px;
  color: #FFFFFF;
  background-color: #FFFFFF08;
  border-radius: 10px;
  position: absolute;
  cursor:text;
}
.nftPriceInputBoxImport:hover{
  cursor:text;
}
.nftPriceInputBoxActive{
  cursor:text;
}

.nftPriceInputBoxActive{
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  width: 262px;
  margin: 0;
  align-items: flex-end;
  display: flex;
  height: 56px;
  min-width: 300px;
  padding: 16.5px 15px;
  top: 205px;
  color: #FFFFFF;
  background-color: #FFFFFF08;
  border-radius: 10px;
  position: absolute;
  cursor:text
}


/* nft import screen css */





/* screen - bettermidapp-mimi-nft-import-error */

 /* .importAccount-layer {
  left: calc((100vw - 390px) / 2);
  align-items: flex-start;
  background-color: #0d0d0dcb;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 130px;
  min-height: 844px;
  padding: 44px 16px;
  position: absolute;
  width: 390px;
  z-index: 999;
}

.importAccount-icon-arrow-left-3 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 44px;
  min-width: 44px;
  padding: 14.0px 14.0px;
}

.importAccount-icon-arrow-left {
  height: 16px;
  object-fit: cover;
  width: 16px;
}
.importAccount {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 358px;
  margin-right: -33.25px;
  min-width: 332px;
}
 .overlap-group1-1 {
  height: 390px;
  margin-left: -45px;
  margin-top: -27.0px;
  position: relative;
  width: 422px;
}
.seperate-line-importAccount-1 {
  height: 90px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 422px;
}


 .importAccountbg {
  height: 390px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 392px;
}

.importAccount-seperate-line {
  height: 1px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 92px;
  width: 332px;
}

.your-n-ft-id {
  color: var(--royal-blue);
  font-family: var(--font-family-inter);
  font-weight: 700;
  left: 164px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 112px;
  white-space: nowrap;
}

.importAccountrewards {
  display: flex;
  height: 21px;
  justify-content: space-between;
  left: 121px;
  position: absolute;
  top: 52px;
  width: 184px;
}

.ic_add-1 {
  margin-bottom: 1.5px;
  margin-top: 1.5px;
}

.ic_add-3 {
  align-items: flex-start;
  display: flex;
  min-width: 18px;
  margin-left: 3px;
}

.importAccount-overlap-group-1 {
  height: 18px;
  position: relative;
  width: 18px;
}

.importAccountadd {
  height: 10px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 10px;
}

.importAccountic_add {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}
.importAccount-import-your-nft {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2.5px;
  margin-right: 5px;
  margin-top: 0.5px;
  text-align: center;
  white-space: nowrap;
  width: 144px;
}

.importAccountsearch_bar {
  background-color: #ffffff08;
  border-radius: 10px;
  height: 56px;
  left: 61px;
  position: absolute;
  top: 164px;
  width: 300px;
}

.importAccountbutton_save {
  align-items: flex-end;
  background: linear-gradient(-90deg, #8743ff 0%, #4136f1 100%);
  border-radius: 10px;
  box-shadow: 0px 15px 30px #1466cc29;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  left: 87px;
  min-width: 248px;
  padding: 13.5px 75px;
  position: absolute;
  top: 329px;
}

.importAccounttext-7 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 128px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 178px;
  white-space: nowrap;
}

.importAccount-error-message {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: space-between;
  left: 53px;
  position: absolute;
  top: 182px;
  width: 319px;
}
.importAccount_error_icon {
  align-items: flex-start;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-right: 31.0px;
  margin-top: 0;
  min-width: 20px;
}

.importAccount-x-container {
  height: 20px;
  margin-top: 0;
  position: relative;
  width: 20px;
}
.importAccountx11692 {
  height: 1px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 1px;
}
.importAccountx11693 {
  height: 20px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 20px;
}

.importAccount_search_bar-4 {
  background-color: #FFFFFF08;
  border-radius: 10px;
  left: 61px;
  position: absolute;
  top:149px;
}

.importAccount_search_bar-1 {
  align-items: flex-end;
  display: flex;
  height: 56px;
  min-width: 300px;
  padding: 16.5px 15px;
  color: #FFFFFF;
}
.importAccount-noError {
  color:#FFFFFF;
  flex: 1;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 61px;
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 1.5px;
  margin-right: -2px;
  max-height: 61px;
  text-align: center;
  margin-top:70px;
}
.importAccount-hasError {
  color:#FFFFFF;
  flex: 1;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 61px;
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 1.5px;
  margin-right: -2px;
  max-height: 61px;
  text-align: center;
  margin-top:70px;
}
.importAccountcontinue {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  min-height: 21px;
  min-width: 96px;
  text-align: center;
  white-space: nowrap;
} */