.discord-verification-detail-popup-window-container {
    width: 332px;
    height: 330px;
    background: transparent linear-gradient(135deg, #221D4B 0%, #171717 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px var(--royal-blue);
    border: 1px solid var(--royal-blue);  
    border-radius: 10px;
    z-index: 201;
    position: relative;
  }

  .discord-verification-detail-popup-window-title {
    border-bottom: 1px solid var(--royal-blue);
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .discord-verification-detail-popup-window-below-content {
    width: 100%;
    padding-top: 37.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27.5px;
  }
  
  .discord-verification-detail-popup-window-below-content > div {
    text-align: center;
  }

  .discord-verification-detail-popup-window-mimi {
    height: 105px;
  }
  
  .discord-verification-click-the-area-to-make-it-hidden-again {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .discord-verification-hidden-content {
    width: 100vw;
    height: 100vh;
    background:#0d0d0da8;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
