/* screen - bettermidapp-generate-free-nft-error */

.bettermidapp-generate-free-nft-error {
  /* background-color: var(--white); */
  height: 844px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
  margin: 0 auto;
}

.bettermidapp-generate-free-nft-error .bg_2-FumncE {
  background-color: transparent;
  height: 844px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.bettermidapp-generate-free-nft-error .bg-lme0fw {
  background-color: transparent;
  height: calc(100.00% + 90px);
  left: -45px;
  object-fit: cover;
  position: absolute;
  top: -45px;
  width: calc(100.00% + 90px);
}

.bettermidapp-generate-free-nft-error .x16220-lme0fw {
  background-color: transparent;
  height: 298px;
  left: 55px;
  position: absolute;
  top: calc(49.96% - 149px);
  width: calc(100.00% - 110px);
}

.bettermidapp-generate-free-nft-error .this-nft-has-been-sn-RYas9d {
  background-color: transparent;
  bottom: 4px;
  color: #a6b3bb98;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 77px;
  left: 0px;
  letter-spacing: -0.36px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  width: calc(100.00% + 2px);
  white-space: pre;

}

.bettermidapp-generate-free-nft-error .title-RYas9d {
  background-color: transparent;
  bottom: calc(42.17% - 15px);
  height: 36px;
  left: 0px;
  letter-spacing: -0.67px;
  line-height: 41px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.bettermidapp-generate-free-nft-error .ic_sentiment_very_dissatisfied_24px-RYas9d {
  bottom: 180px;
  height: 150px;
  left: calc(50.00% - 75px);
  width: 150px;
}

.bettermidapp-generate-free-nft-error .ic_sentiment_very_dissatisfied_24px-TVetTD {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-generate-free-nft-error .ic_settings_24px-lme0fw {
  cursor: pointer;
  height: 20px;
  right: 29px;
  top: 56px;
  width: 19px;
}

.bettermidapp-generate-free-nft-error .ic_settings_24px-1cMOi3 {
  height: 100%;
  left: 1px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-generate-free-nft-error .ic_sentiment_very_satisfied_24px-lme0fw {
  cursor: pointer;
  height: 20px;
  right: calc(18.50% - 4px);
  top: 56px;
  width: 20px;
}

.bettermidapp-generate-free-nft-error .ic_sentiment_very_satisfied_24px-xCJHHT {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-generate-free-nft-error .icon-arrow-left-FumncE {
  cursor: pointer;
  height: 44px;
  left: 16px;
  top: 44px;
  width: 44px;
}

.bettermidapp-generate-free-nft-error .icon-arrow-left-xF1oog {
  height: 35.44%;
  left: 31.82%;
  object-fit: cover;
  top: 31.82%;
  width: 36.36%;
}

.bettermidapp-generate-free-nft-error .bars-status-bar-i-phone-light-FumncE {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.bettermidapp-generate-free-nft-error .frame-QaAc67 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  opacity: 0.0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-generate-free-nft-error .status-bar-QaAc67 {
  background-color: transparent;
  bottom: calc(47.83% - 9px);
  height: 18px;
  left: 18px;
  position: absolute;
  width: calc(100.00% - 35px);
}

.bettermidapp-generate-free-nft-error .battery-MTLyAM {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 0px;
  top: calc(42.50% - 5px);
  width: 24px;
}

.bettermidapp-generate-free-nft-error .border-MYGhml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--white);
  border-radius: 2.67px;
  height: 100%;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.bettermidapp-generate-free-nft-error .cap-MYGhml {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 1px;
}

.bettermidapp-generate-free-nft-error .capacity-MYGhml {
  background-color: var(--white);
  border-radius: 1.33px;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}

.bettermidapp-generate-free-nft-error .wifi-MTLyAM {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 29px;
  top: 3px;
  width: 15px;
}

.bettermidapp-generate-free-nft-error .cellular-connection-MTLyAM {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 50px;
  top: 3px;
  width: 17px;
}

.bettermidapp-generate-free-nft-error .time-style-MTLyAM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 54px;
}

.bettermidapp-generate-free-nft-error .time-eJQK27 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.bettermidapp-generate-free-nft-error .bottom-controls-FumncE {
  background-color: transparent;
  height: 56px;
  left: 71px;
  position: absolute;
  top: 735px;
  width: 248px;
}

.bettermidapp-generate-free-nft-error .button_-mintagain-QHnb0b {
  background: linear-gradient(-90deg, #8743ff 0%, #4136f1 100%);
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.bettermidapp-generate-free-nft-error .button1-7FeCxk {
  background: linear-gradient(-90deg, #8743ff 0%, #4136f1 100%);
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 15px 30px #1466cc29;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
} */

.bettermidapp-generate-free-nft-error .mintagain-7FeCxk {
  background-color: transparent;
  /* bottom: calc(38.57% - 8px); */
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  display: flex;
  align-items: center;
  /* position: absolute; */
  /* right: calc(49.41% - 39px); */
  text-align: center;
  white-space: nowrap;
  align-items: center;
  text-decoration: none;
  /* width: 78px; */
}

.bettermidapp-generate-free-nft-error .ic_sentiment_very_dissatisfied_24px {
  background-color: transparent;
  position: absolute;
}
