/* screen - bettermidapp-create-connect-3 */

#connectWallet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* height: 100%; */
  width: 100%;
  min-height: auto;
  /* overflow-y: auto; */
}

.connectWallet-layout {
  /* position: absolute; */
  /* left: calc((100% - 820px) / 2); */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #221D4B, #171717);
  overflow-x: hidden;
  display: flex;
}

#connectWalletTopic {
  margin-top: 0px;
  margin-bottom: 27px;
  text-align: center;
}

#connectWalletDisciption {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 52px;
  color: rgba(255, 255, 255, 0.7);
}

#img-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 86px;
}

.photo {
  width: 100%;
}

.connect-profilePic {
  width: 262px;
  height: 288px;
}

.connect-profilePic-side {
  width: 180px;
  height: 198px;
}

#collectWallet-button-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  gap: 20px;
}

@media screen and (max-height: 594px) {
  #img-slider {
    margin-bottom: 20px;
  }
  #collectWallet-button-container {
    /* position: fixed; */
    /* bottom: 20px; */
  }

  #connectWallet-container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 320px) {
  #img-slider {
    margin-bottom: 20px;
  }

  #collectWallet-button-container {

    gap: 20px;
    flex-direction: column-reverse;
  }
}