/* screen - bettermidapp-profile-3 */

.bettermidapp-profile-3 {
  align-items: flex-start;
  background: linear-gradient(180deg, #171717 0%, #291a49 41.22%, #171717 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  justify-content: center;
  overflow: hidden auto;
  width: 390px;
}

.bettermidapp-profile-3 .overlap-group5 {
  align-items: flex-end;
  /* background-image: url(../img/bg-3@1x.png); */
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: -47.48px;
  /* : 810px; */
  padding: 0px 23px;
  padding-top: 155.5px;
  width: 480px;
  z-index: 1;
  overflow-y:auto;
  overflow-x: hidden;
}

.overlap-design-layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
  min-height: 674px;
  align-items: center;
}

.bettermidapp-profile-3::-webkit-scrollbar {
  display: none;
  width: 0;
}



.nft_-avatar-2ZgxSS {
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 8px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  cursor: pointer;
  width: 107px;
}

.bettermidapp-profile-3 .overlap-group1-profile {
  align-self: center;
  height: 333px;
  margin-right: 0;
  position: relative;
  width: 418px;
}

.bettermidapp-profile-3 .continue-profile {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 21px;
  min-width: 150px;
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-profile-3 .ic_edit {
  /* background-image: url(../img/ic-edit-1@1x.png); */
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 18px;
  left: 342px;
  position: absolute;
  top: 62px;
  width: 18px;
}

.ic_edit-content {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.discord-card-container {
  left: 52px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 224px;
  display: flex;
  gap: 10px;
}

.bettermidapp-profile-3 .card-number {
  left: 52px;
  letter-spacing: 0;
  line-height: 22px;
  /* position: absolute; */
  top: 224px;
  white-space: nowrap;
  /* width: 108px; */
}

.bettermidapp-profile-3 .discord {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -1.5px;
  margin-right: -2px;
  margin-top: -0.5px;
  white-space: nowrap;
  width: 71px;
}

.bettermidapp-profile-3 .x3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  width: 480px;
  overflow-x: scroll;
  padding-left: 100px;
}

.bettermidapp-profile-3 .add {
  height: 30px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 30px;
}



.bettermidapp-profile-3 .ic_add {
  height: 28px;
  /* left: 61px; */
  object-fit: cover;
  /* position: absolute;
  top: 94px; */
  width: 28px;
}

.bettermidapp-profile-3 .title-bar {
  align-items: flex-start;
  display: flex;
  height: 88px;
  left: 0;
  min-width: 390px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.bettermidapp-profile-3 .overlap-group2 {
  align-items: flex-end;
  /* background-image: url(../img/bg-1@1x.png); */
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: -45px;
  margin-top: -45px;
  min-height: 178px;
  padding: 44.5px 45.0px;
  width: 480px;
}

.bettermidapp-profile-3 .bars-status-bar-i-phone-light {
  align-items: flex-end;
  align-self: center;
  background-color: var(--white-3);
  display: flex;
  height: 41px;
  justify-content: flex-end;
  margin-top: 1px;
  min-width: 390px;
  padding: 11px 17px;
}

.bettermidapp-profile-3 .overlap-group-1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white-4);
  border-radius: 2.67px;
  display: flex;
  height: 11px;
  min-width: 22px;
  padding: 1.0px 1px;
}

.bettermidapp-profile-3 .overlap-group3 {
  height: 44px;
  position: relative;
  width: 389px;
}

.bettermidapp-profile-3 .overlap-group1-1 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 389px;
}

.bettermidapp-profile-3 .seperat-line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 44px;
  width: 389px;
}

.bettermidapp-profile-3 .icon-arrow-left-1-popup {
  height: 16px;
  object-fit: cover;
  width: 16px;
}

.bettermidapp-profile-3 .seperat-line-1 {
  height: 1px;
  object-fit: cover;
  width: 389px;
}

.bettermidapp-profile-3 .flex-row {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-right: 4.39px;
  min-width: 318px;
}

.bettermidapp-profile-3 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  margin-left: 1.06px;
  min-width: 21px;
}
/* 
.bettermidapp-profile-3 .x24 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  min-width: 480px;
}

.bettermidapp-profile-3 .x24-item {
  border-radius: 10px;
  height: 217px;
  object-fit: cover;
  width: 152px;
}
 */

.bettermidapp-profile-3 .layer {
  height: 321px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 418px;
}


.bettermidapp-profile-3 .container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.bettermidapp-profile-3 .container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.bettermidapp-profile-3 .status-bar {
  align-items: center;
  display: flex;
  min-width: 355px;
}

.bettermidapp-profile-3 .time-style {
  display: flex;
  height: 18px;
  width: 56px;
}

.bettermidapp-profile-3 .time {
  flex: 1;
  letter-spacing: -0.bettermidapp-profile-3 .30px;
  line-height: 15px;
  margin-bottom: -2px;
  margin-right: -2px;
  text-align: center;
  width: 56px;
}

.bettermidapp-profile-3 .cellular-connection {
  height: 11px;
  margin-bottom: 1.bettermidapp-profile-3 .0px;
  margin-left: 232px;
  object-fit: cover;
  width: 17px;
}

.bettermidapp-profile-3 .wifi {
  height: 11px;
  margin-bottom: 1.bettermidapp-profile-3 .34px;
  margin-left: 5px;
  object-fit: cover;
  width: 15px;
}

.bettermidapp-profile-3 .battery {
  align-items: center;
  display: flex;
  gap: 1px;
  margin-bottom: 1.bettermidapp-profile-3 .0px;
  margin-left: 5px;
  min-width: 24px;
}

.bettermidapp-profile-3 .capacity {
  background-color: var(--white);
  border-radius: 1.bettermidapp-profile-3 .33px;
  height: 7px;
  width: 18px;
}

.bettermidapp-profile-3 .cap {
  height: 4px;
  margin-top: 0;
  object-fit: cover;
  width: 1px;
}

.bettermidapp-profile-3 .scroll-nft-card::-webkit-scrollbar {
  display: none;
  width: 0;
}

.bettermidapp-profile-3 .repeated-nft-card {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  height: 996px;
  left: 0;
  min-width: 339px;
  position: absolute;
  top: 0;
}

.bettermidapp-profile-3 .x-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 996px;
  width: 162px;
}

.bettermidapp-profile-3 .x16217 {
  align-items: flex-start;
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/nft-box-1@1x.bettermidapp-profile-3 .png); */
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 322px;
  width: 162px;
}

.bettermidapp-profile-3 .nft {
  align-self: center;
  border-radius: 10px;
  height: 217px;
  margin-top: 5px;
  object-fit: cover;
  width: 152px;
}

.bettermidapp-profile-3 .text {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -2px;
  margin-left: 15px;
  min-height: 19px;
  white-space: nowrap;
}

.bettermidapp-profile-3 .lv-1 {
  letter-spacing: 0;
  line-height: 12px;
  min-height: 17px;
  min-width: 24px;
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-profile-3 .reward-10 {
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 10px;
  min-height: 17px;
  min-width: 78px;
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-profile-3 .x0-signa {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 15px;
  margin-top: 1px;
  min-height: 17px;
  white-space: nowrap;
}

.bettermidapp-profile-3 .button_nft_-equip {
  align-items: flex-start;
  background: linear-gradient(90deg, #4136f1 0%, #8643ff 100%);
  border-radius: 4px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  min-width: 100px;
  padding: 6px 11px;
}

.bettermidapp-profile-3 .equip {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 17px;
  text-align: center;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-profile-3 .button_nft_-on-duty {
  align-items: flex-start;
  background-color: var(--keppel);
  border-radius: 4px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 0;
  min-width: 100px;
  padding: 6px 11px;
  position: absolute;
  top: 291px;
}

.bettermidapp-profile-3 .on-duty {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 17px;
  text-align: center;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-profile-3 .cap-1 {
  height: 4px;
  margin-top: 0;
  object-fit: cover;
  width: 1px;
}

.bettermidapp-profile-3 .my-nf-ts {
  left: 115px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 102px;
  white-space: nowrap;
}

.bettermidapp-profile-3 .ic_add-1 {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}

.bettermidapp-profile-3 .drop-down-list {
  align-items: flex-start;
  gap: 10px;
  left: 258px;
  min-height: 130px;
  position: absolute;
  top: 104px;
  width: 108px;
}

.bettermidapp-profile-3 .flex-row-2 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 8px;
  height: 17px;
  margin-top: -2px;
  min-width: 93px;
}

.bettermidapp-profile-3 .free {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 17px;
  text-align: right;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-profile-3 .ic_arrow_drop_down {
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/ic-arrow-drop-down-1@1x.bettermidapp-profile-3 .png); */
  background-position: 50% 50%;
  background-size: cover;
  height: 5px;
  margin-top: 2.bettermidapp-profile-3 .0px;
  width: 10px;
}

.bettermidapp-profile-3 .drop-down-options {
  align-items: center;
  background-color: #0d0d0d;
  min-height: 105px;
  padding: 8px 0;
  width: 103px;
}

.bettermidapp-profile-3 .lowest-price {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2.bettermidapp-profile-3 .0px;
  min-height: 17px;
  text-align: right;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-profile-3 .highest-price {
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 7.bettermidapp-profile-3 .0px;
  margin-top: 8px;
  min-height: 17px;
  text-align: right;
  white-space: nowrap;
  width: 84px;
}

.bettermidapp-profile-3 .all {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2.bettermidapp-profile-3 .0px;
  margin-top: 8px;
  min-height: 17px;
  text-align: right;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-profile-3 .drop-down {
  display: flex;
  flex-direction: column;
}

.bettermidapp-profile-3 .equip-6 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 17px;
  text-align: center;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-profile-3 .icon-arrow-left-3-popup {
  align-items: flex-start;
  display: flex;
  height: 44px;
  min-width: 44px;
  padding: 14.0px 14.0px;
  margin-left: 16px;

}

.bettermidapp-profile-3 .x3::-webkit-scrollbar {
  display: none;
  width: 0;
}

.bettermidapp-profile-3 .x24 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  min-width: 480px;
}

.bettermidapp-profile-3 .x24-item {
  border-radius: 10px;
  height: 217px;
  object-fit: cover;
  width: 152px;
}

.bettermidapp-profile-3 .layer {
  height: 321px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 418px;
}

.bettermidapp-profile-3 .button_nft-collections {
  align-items: flex-end;
  background: linear-gradient(-90deg, #8743ff 0%, #4136f1 100%);
  border-radius: 10px;
  box-shadow: 0px 15px 30px #1466cc29;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  left: 30px;
  min-width: 248px;
  padding: 13.5px 48px;
  position: absolute;
  top: 272px;
}

.bettermidapp-profile-3 .profile-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 52px;
  min-height: 84px;
  padding: 2px 0;
  position: absolute;
  top: 100px;
  width: 296px;
}

.bettermidapp-profile-3 .zoe_li {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 1px;
  min-height: 28px;
  min-width: 62px;
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-profile-3 .perso-container {
  height: 42px;
  position: relative;
  width: 296px;
}

.bettermidapp-profile-3 .perso-container p{
  margin: 0;
}

.bettermidapp-profile-3 .im-a-positive-perso {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
  margin: 0;
}

.bettermidapp-profile-3 .x29-personal-trainer {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.bettermidapp-profile-3 .nft_-avatar {
  border-radius: 6px;
  height: 125px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: -5;
  width: 80px;
  clip: rect(0, 80px, 80px, 0);
}

.bettermidapp-profile-3 .nft_-avatar_empty {
  border-radius: 6px;
  height: 125px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: -5;
  width: 80px;
  clip: rect(0, 80px, 80px, 0);
  background-color: #221D4B;
 /* background-color: linear-gradient(180deg, #171717 0%, #291a49 41.22%, #171717 100%); */
}
.profile_icon_nft_-avatar_empty {
  border-radius: 6px;
  height: 80px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: -5;
  width: 80px;
  background: linear-gradient(180deg, #8743FF 0%, #4136F1 100%);;
  display:flex;
  align-items: center;
  justify-content: center;
 /* background-color: linear-gradient(180deg, #171717 0%, #291a49 41.22%, #171717 100%); */
}
.profile_icon_ic_add {
  height: 28px;
  width:28px;
  align-self: center;
}

.profile_icon_ic_loading{
  height: 80px;
  width:80px;
  align-self: center;
}

.bettermidapp-profile-3 .add {
  height: 30px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 30px;
}
 .profile_icon_add {
  height: 30px;
  align-self: center;
  width: 30px;
}

.bettermidapp-profile-3 .overlap-group-profile p{
  color: #FFFFFF80;
  margin: 0;
  text-decoration: none;
}


.bettermidapp-profile-3 .overlap-group-profile {
  background: linear-gradient(90deg, #0d0d0d 0%, #4136f1 102.54%);
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-color: var(--royal-blue);
  border-radius: 10px;
  flex: 0 0 auto;
  height: 217px;
  position: relative;
  width: 152px;
  cursor: pointer;
  margin-left: 38px;
  margin-right: 12px;
}


.bettermidapp-profile-3 .copy-icon {
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/file---11690@1x.bettermidapp-profile-3 .png); */
  /* background-position: 50% 50%; */
  background-size: cover;
  height: 18px;
  left: 250px;
  /* position: absolute; */
  top: 228px;
  width: 17px;
  cursor: pointer;
}
.bettermidapp-profile-3 .copy-icon img {
  width: 100%;
  height: 100%;
}


.bettermidapp-profile-3 .x16227 {
  display: flex;
  height: 19px;
  justify-content: space-between;
  left: 52px;
  position: absolute;
  top: 199px;
  width: 95px;
}

.bettermidapp-profile-3 .discord-icon {
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/file---11691@1x.bettermidapp-profile-3 .png); */
  background-position: 50% 50%;
  background-size: cover;
  /* margin-bottom: 2.3px; */
  margin-left: 0;
  /* margin-top: 2px; */
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bettermidapp-profile-3 .discord-icon-content {
  width: 19px;
  height: 15px;
}


.bettermidapp-profile-3 .profile {
  left: 69px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.bettermidapp-profile-3 .ic_sentiment_very_satisfied_24px {
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/ic-sentiment-very-satisfied-24px-1@1x.bettermidapp-profile-3 .png); */
  background-position: 50% 50%;
  background-size: cover;
  height: 20px;
  left: 301px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.bettermidapp-profile-3 .menu-bar {
  align-items: flex-start;
  display: flex;
  height: 93px;
  left: 0;
  min-width: 390px;
  position: fixed;
  top: 751px;
  z-index: 3;
}

.bettermidapp-profile-3 .overlap-group4 {
  align-items: flex-end;
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/menu-bar-bg-1@1x.bettermidapp-profile-3 .png); */
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-left: -30px;
  margin-top: -35px;
  min-height: 153px;
  padding: 34.bettermidapp-profile-3 .5px 30.bettermidapp-profile-3 .0px;
  width: 450px;
}

.bettermidapp-profile-3 .ic_-missions {
  align-self: center;
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/ic-missions-1@1x.bettermidapp-profile-3 .png); */
  height: 16px;
  margin-top: 2.bettermidapp-profile-3 .39px;
  width: 29px;
}

.bettermidapp-profile-3 .ic_-selfie {
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/ic-selfie-1@1x.bettermidapp-profile-3 .png); */
  height: 23px;
  margin-left: 47px;
  width: 25px;
}

.bettermidapp-profile-3 .ic_home {
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/ic-home-1@1x.bettermidapp-profile-3 .png); */
  background-position: 50% 50%;
  background-size: cover;
  height: 23px;
  margin-left: 47px;
  width: 27px;
}

.bettermidapp-profile-3 .ic_rewards {
  align-self: flex-start;
  display: flex;
  height: 23px;
  margin-left: 50px;
  width: 23px;
}

.bettermidapp-profile-3 .ic_rewards-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  min-height: 100%;
  padding: 0.bettermidapp-profile-3 .0px 0;
  width: 22.bettermidapp-profile-3 .98px;
}

.bettermidapp-profile-3 .x11661 {
  height: 12px;
  margin-left: 0;
  object-fit: cover;
  width: 23px;
}

.bettermidapp-profile-3 .x116 {
  height: 9px;
  object-fit: cover;
  width: 9px;
}

.bettermidapp-profile-3 .ic_profile {
  /* background-image: url(.bettermidapp-profile-3 ..bettermidapp-profile-3 ./img/ic-profile-1@1x.bettermidapp-profile-3 .png); */
  background-position: 50% 50%;
  background-size: cover;
  height: 23px;
  margin-left: 47px;
  width: 23px;
}

.bettermidapp-profile-3 .ic_ {
  background-position: 50% 50%;
  background-size: cover;
}



.bettermidapp-profile-3 .edit-profile-layer {
  background-color: #0d0d0dcb;
  display: flex;
  flex-direction: column;
  gap: 28.7px;
  height: 844px;
  /* left: 45px; */
  position: absolute;
  /* top: 47px; */
  padding-top: 44px;
  width: 390px;
  z-index: 999;
}
/* 
.bettermidapp-profile-3 .icon-arrow-left-1 {
  margin-left: 16px;
  margin-top: 44px;
} */

.bettermidapp-profile-3 .icon-arrow-left-popup {
  height: 16px;
  object-fit: cover;
  width: 16px;
  cursor: pointer;
} 

.bettermidapp-profile-3 .edit-profile {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-bottom: 116.7px;
  margin-left: 28.8px;
  margin-right: 28.8px;
  min-width: calc(100.00% - 58px);
}

.bettermidapp-profile-3 .overlap-group-1-popup {
  height: 643px;
  margin-left: -45px;
  margin-top: -27.0px;
  position: relative;
  width: 422px;
}

.bettermidapp-profile-3 .seperate-line {
  height: 90px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 422px;
}

.bettermidapp-profile-3 .bg {
  height: 643px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 392px;
}

.bettermidapp-profile-3 .search_bar-4 {
  align-items: flex-start;
  /* background-color: #FFFFFF08; */
  border-radius: 10px;
  display: flex;
  left: 61px;
  min-width: 300px;
  position: absolute;
}

.bettermidapp-profile-3 .seperat-line {
  height: 1px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 92px;
  width: 332px;
}

.bettermidapp-profile-3 .pick-a-username {
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 112px;
  white-space: nowrap;
  
}

.bettermidapp-profile-3 .about-yourself {
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 222px;
  white-space: nowrap;
}

.bettermidapp-profile-3 .description-to-friends {
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 352px;
  white-space: nowrap;
}

.bettermidapp-profile-3 .rewards {
  display: flex;
  height: 21px;
  justify-content: space-between;
  left: 145px;
  position: absolute;
  top: 52px;
  width: 134px;
}

.bettermidapp-profile-3 .ic_edit-1 {
  /* background-image: url(../img/ic-edit-1@1x.png); */
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 1.5px;
  margin-top: 1.5px;
  width: 18px;
}

.ic_edit-1-content {
  width: 18px;
  height: 18px;
}

.bettermidapp-profile-3 .edit-profile-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2.5px;
  margin-right: -2px;
  margin-top: 0.5px;
  text-align: center;
  white-space: nowrap;
  width: 96px;
}

.bettermidapp-profile-3 .search_bar {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  left: 61px;
  position: absolute;
  top: 147px;
  width: 300px;
  margin: 0;
}

.bettermidapp-profile-3 .card-number-3 {
  margin: 0;
}

.bettermidapp-profile-3 .card-number-1 {
  /* align-self: flex-end; */
  height: 21px;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -9.9px;
  margin-left: 15px;
  width: 111px;
}

.bettermidapp-profile-3 .random-dice {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 17px;
  margin-right: 20.0px;
  min-width: 79.45px;
}

.bettermidapp-profile-3 .card-number-2 {
  align-self: flex-end;
  color: var(--keppel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -3.5px;
  min-height: 19px;
  min-width: 56px;
  white-space: nowrap;
}

.bettermidapp-profile-3 .ic_casino_24px {
  height: 15px;
  margin-top: 0;
  object-fit: cover;
  width: 15px;
}

.bettermidapp-profile-3 .search_bar-1 {
  height: 76px;
  /* padding: 19.5px 15px; */
  top: 257px;
}

.bettermidapp-profile-3 .card-number-3 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 27px;
  width: 262px;
}

.bettermidapp-profile-3 .search_bar-2 {
  height: 76px;
  /* padding: 14.5px 15px; */
  top: 387px;
}

.bettermidapp-profile-3 .card-number-4 {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 43px;
  width: 262px;
}

.bettermidapp-profile-3 .search_bar-3 {
  height: 40px;
  /* padding: 3.1px 15px; */
  top: 512px;
}

.bettermidapp-profile-3 .card-number-5 {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 21px;
  white-space: nowrap;
}

.bettermidapp-profile-3 .button_save {
  align-items: flex-end;
  background: linear-gradient(-90deg, #8743ff 0%, #4136f1 100%);
  border-radius: 10px;
  box-shadow: 0px 15px 30px #1466cc29;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  left: 87px;
  min-width: 248px;
  padding: 13.5px 104px;
  position: absolute;
  top: 582px;
}

.bettermidapp-profile-3 .continue-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 21px;
  min-width: 38px;
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-profile-3 .x16227-1 {
  display: flex;
  gap: 5px;
  height: 19px;
  left: 61px;
  position: absolute;
  top: 478px;
  width: 183px;
}

.bettermidapp-profile-3 .discord-username {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -1.5px;
  margin-right: -2px;
  margin-top: -0.5px;
  white-space: nowrap;
}


.profileHorizontalScroll{
  background-color: inherit;
  margin-top: -10px;
}

.profileHorizontalScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.profileHorizontalScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.copied-alert {
  width: 200px;
  z-index: 999;
  position: absolute;
  top: 100px;
  background-color: rgb(13 13 13) !important;
  color: white !important;

}

.copied-alert div {
  color: white !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

..lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-circle {

  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.profile_icon_for_loading {
  border-radius: 6px;
  height: 80px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: -5;
  width: 80px;
  background: linear-gradient(180deg, #8743FF 0%, #4136F1 100%);
  display:flex;
  align-items: center;
  justify-content: center;
 /* background-color: linear-gradient(180deg, #171717 0%, #291a49 41.22%, #171717 100%); */
}
