/* screen - bettermidapp-rewards-2 */

.bettermidapp-rewards-2 {
  background: linear-gradient(180deg, #171717 0%, #291a49 41.22%, #171717 100%);
  background-color: rgba(255,255,255,1.0);
  height: 844px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.bettermidapp-rewards-2 .bg-kQlY8S {
  height: 936px;
  top: -47px;
  width: 480px;
}

.bettermidapp-rewards-2 .rewards-cards-kQlY8S {
  top: 108px;
}

.bettermidapp-rewards-2 .master-collector-5RWzHs {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 30px;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 168px;
}

.bettermidapp-rewards-2 .acquire-3-nf-ts-from-our-collection-5RWzHs {
  background-color: transparent;
  height: 32px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: 46px;
  text-align: left;
  top: calc(44.69% - 14px);
  width: 152px;
}

.bettermidapp-rewards-2 .goal-YBUPcf {
  position: absolute;
  left: calc(49.25% - 16px);
  width: 32px;
}

.bettermidapp-rewards-2 .x3-XEqJB9 {
  width: 20px;
}

.bettermidapp-rewards-2 .rewards-cards-TttECi {
  top: 273px;
}

.bettermidapp-rewards-2 .selfie-champion-O07kH5 {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 30px;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 168px;
}

.bettermidapp-rewards-2 .selfies-for-60-consecutive-days-O07kH5 {
  background-color: transparent;
  height: 32px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: 46px;
  text-align: left;
  top: calc(44.69% - 14px);
  width: 152px;
}

.bettermidapp-rewards-2 .goal-hfcLyr {
  position: absolute;
  left: calc(50.00% - 20px);
  width: 40px;
}

.bettermidapp-rewards-2 .x3-eZrkM2 {
  width: 29px;
}

.bettermidapp-rewards-2 .rewards-cards-xzgu34 {
  top: 438px;
}

.bettermidapp-rewards-2 .social-butterfly-nGgOF5 {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 30px;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 168px;
}

.bettermidapp-rewards-2 .build-a-thriving-network-of-75-friends-nGgOF5 {
  background-color: transparent;
  height: 32px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: 46px;
  text-align: left;
  top: calc(44.69% - 14px);
  width: 152px;
}

.bettermidapp-rewards-2 .goal-1TY7aZ {
  position: absolute;
  left: calc(50.00% - 20px);
  width: 40px;
}

.bettermidapp-rewards-2 .x3-E0cPgC {
  width: 28px;
}

.bettermidapp-rewards-2 .rewards-cards-C55ruw {
  top: 603px;
}

.bettermidapp-rewards-2 .elite-challenger-yvS2xN {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 30px;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 168px;
}

.bettermidapp-rewards-2 .complete-50-challenges-yvS2xN {
  background-color: transparent;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: 46px;
  text-align: left;
  top: calc(39.65% - 7px);
  width: 152px;
}

.bettermidapp-rewards-2 .goal-hu1xkO {
  position: absolute;
  left: calc(50.00% - 20px);
  width: 40px;
}

.bettermidapp-rewards-2 .x3-SJHvta {
  width: 29px;
}

.bettermidapp-rewards-2 .title-bar-kQlY8S {
  background-color: transparent;
  height: 88px;
  left: 0px;
  position: fixed;
  top: -0px;
  width: 390px;
}

.bettermidapp-rewards-2 .bg-cTzgcV {
  height: calc(100.00% + 90px);
  top: -45px;
  width: calc(100.00% + 90px);
}

.bettermidapp-rewards-2 .icon-arrow-left-cTzgcV {
  bottom: 0px;
  height: 44px;
  left: 16px;
  width: 44px;
}

.bettermidapp-rewards-2 .icon-arrow-left-0exVTx {
  height: 35.44%;
  left: 31.82%;
  object-fit: cover;
  top: 31.82%;
  width: 36.36%;
}

.bettermidapp-rewards-2 .bars-status-bar-i-phone-light-cTzgcV {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}

.bettermidapp-rewards-2 .frame-93BPXa {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  opacity: 0.0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-rewards-2 .status-bar-93BPXa {
  background-color: transparent;
  bottom: calc(47.83% - 9px);
  height: 18px;
  left: 18px;
  position: absolute;
  width: calc(100.00% - 35px);
}

.bettermidapp-rewards-2 .battery-tnpFYW {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 0px;
  top: calc(42.50% - 5px);
  width: 24px;
}

.bettermidapp-rewards-2 .border-ykKeO6 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--white);
  border-radius: 2.67px;
  height: 100%;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.bettermidapp-rewards-2 .cap-ykKeO6 {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 1px;
}

.bettermidapp-rewards-2 .capacity-ykKeO6 {
  background-color: var(--white);
  border-radius: 1.33px;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}

.bettermidapp-rewards-2 .wifi-tnpFYW {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 29px;
  top: 3px;
  width: 15px;
}

.bettermidapp-rewards-2 .cellular-connection-tnpFYW {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 50px;
  top: 3px;
  width: 17px;
}

.bettermidapp-rewards-2 .time-style-tnpFYW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 54px;
}

.bettermidapp-rewards-2 .time-SbJDMp {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.bettermidapp-rewards-2 .redeem-rewards-cTzgcV {
  background-color: transparent;
  bottom: 8px;
  height: 23px;
  left: calc(29.54% - 45px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 153px;
}

.bettermidapp-rewards-2 .seperat-line-cTzgcV {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 1px);
}

.bettermidapp-rewards-2 .ic_help_24px-cTzgcV {
  bottom: 12px;
  height: 20px;
  right: 29px;
  width: 20px;
}

.bettermidapp-rewards-2 .ic_help_24px-SiBv0w {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-rewards-2 .icon-arrow-left-yQmn1C {
  bottom: 0px;
  cursor: pointer;
  height: 44px;
  left: 16px;
  width: 44px;
}

.bettermidapp-rewards-2 .icon-arrow-left-12vYZO {
  height: 35.44%;
  left: 31.82%;
  object-fit: cover;
  top: 31.82%;
  width: 36.36%;
}

.bettermidapp-rewards-2 .ic_settings_24px-cTzgcV {
  bottom: 12px;
  height: 20px;
  right: calc(18.62% - 4px);
  width: 19px;
}

.bettermidapp-rewards-2 .ic_settings_24px-vWuCjZ {
  height: 100%;
  left: 1px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-rewards-2 .bg {
  background-color: transparent;
  left: -45px;
  object-fit: cover;
  position: absolute;
}

.bettermidapp-rewards-2 .card_bg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.nft_-avatar-new {
  background-color: transparent;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.Wellness-Milestone-reward-list-container {
  height: 107px;
  width: 107px;
  border-radius: 10px;
  border: solid 1px #4136f1;
  left: 20px;
  position: absolute;
  top: 22px;
}

.bettermidapp-rewards-2 .ic_next {
  background-color: transparent;
  bottom: 17px;
  height: 44px;
  position: absolute;
  right: 22px;
  width: 44px;
}

.bettermidapp-rewards-2 .nft_-avatar {
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 43px);
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 107px;
}

.bettermidapp-rewards-2 .rewards-cards {
  background-color: transparent;
  cursor: pointer;
  height: 150px;
  left: 25px;
  position: absolute;
  width: 340px;
}

.bettermidapp-rewards-2 .x0 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 11px;
}

.bettermidapp-rewards-2 .x3 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  white-space: nowrap;
}
