/* screen - bettermidapp-selfie-to-earn-1 */

.bettermidapp-selfie-to-earn-1 {
  background: linear-gradient(180deg, #171717 0%, #291a49 41.22%, #171717 100%);
  background-color: rgba(255,255,255,1.0);
  height: calc(1553px - 280px - 60px + 50px);
  /* height: 1553px; */
  /* overflow: hidden;
  overflow-x: hidden; */
  position: relative;
  width: 390px;
}

.bettermidapp-selfie-to-earn-1 .bg-MUU5YC {
  height: 934px;
  top: -47px;
  width: 480px;
}

.bettermidapp-selfie-to-earn-1 .bmi_-status-MUU5YC {
  background-color: transparent;
  height: 74px;
  left: 1px;
  position: absolute;
  top: 186px;
  width: 389px;
}

.bettermidapp-selfie-to-earn-1 .current-kgm2-C5Ye0d {
  background-color: transparent;
  bottom: calc(24.78% - 4px);
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 38px;
  text-align: center;
  white-space: nowrap;
  width: 106px;
}

.bettermidapp-selfie-to-earn-1 .span0-b6eiBJ {
}

.bettermidapp-selfie-to-earn-1 .span1-b6eiBJ {
}

.bettermidapp-selfie-to-earn-1 .span2-b6eiBJ {
}

.bettermidapp-selfie-to-earn-1 .start-kgm2-C5Ye0d {
  background-color: transparent;
  bottom: calc(23.89% - 4px);
  height: 17px;
  left: 53px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 88px;
}

.bettermidapp-selfie-to-earn-1 .span0-OeIZvd {
}

.bettermidapp-selfie-to-earn-1 .span1-OeIZvd {
}

.bettermidapp-selfie-to-earn-1 .span2-OeIZvd {
}

.bettermidapp-selfie-to-earn-1 .bmi-goal-C5Ye0d {
  height: 1px;
  left: 1px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .bmi-goal-HuKS2x {
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x255-C5Ye0d {
  background-color: transparent;
  color: var(--keppel);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(19.80% - 9px);
  text-align: center;
  top: calc(35.79% - 9px);
  white-space: nowrap;
  width: 46px;
}

.bettermidapp-selfie-to-earn-1 .x265-C5Ye0d {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 26px;
  left: calc(21.68% - 10px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(36.84% - 10px);
  white-space: nowrap;
  width: 46px;
}

.bettermidapp-selfie-to-earn-1 .x598-C5Ye0d {
  background-color: transparent;
  height: 100%;
  left: 50.00%;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 1px;
}

.bettermidapp-selfie-to-earn-1 .x6-MUU5YC::-webkit-scrollbar {
  display: none;
  width: 0;
  margin: 0;
}

.bettermidapp-selfie-to-earn-1 .x6-MUU5YC {
  height: 403px;
  /* left: -34px; */
  mix-blend-mode: normal;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #171717 !important;
  top: 260px;
  width: 390px;
  margin: 0;
  border-bottom: 2px solid rgba(61, 69, 75, 0.5);
}

.bettermidapp-selfie-to-earn-1 .bmi-tracking-diagram-NWkD1c {
  background-color: transparent;
  height: 403px;
  left: 20px;
  position: relative;
  top: 0px;
  width: 449px;
}

.bettermidapp-selfie-to-earn-1 .bmi-goal-FXAneT {
  height: 2px;
  left: 36px;
  object-fit: cover;
  top: -1px;
  width: calc(100.00% - 59px);
}

.bettermidapp-selfie-to-earn-1 .bmi-goal-qhySjD {
  bottom: -1px;
  height: 2px;
  left: 36px;
  object-fit: cover;
  width: calc(100.00% - 59px);
}

.bettermidapp-selfie-to-earn-1 .x11684-FXAneT {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x16178-FXAneT {
  background-color: transparent;
  height: 16px;
  left: 51px;
  position: absolute;
  top: 26px;
  width: calc(100.00% - 91px);
}

.bettermidapp-selfie-to-earn-1 .bmi-goal-oWOsEy {
  height: calc(100.00% - 1px);
  left: calc(38.26% - 23px);
  top: 0px;
  width: 60px;
}

.bettermidapp-selfie-to-earn-1 .healthy-mgQn5v {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 46px;
}

.bettermidapp-selfie-to-earn-1 .x876-mgQn5v {
  background-color: var(--keppel);
  border-radius: 8px;
  height: calc(100.00% - 5px);
  left: 0px;
  position: absolute;
  top: 2px;
  width: 13px;
}

.bettermidapp-selfie-to-earn-1 .today-bmi-oWOsEy {
  left: 0px;
  top: 0px;
  width: 89px;
}

.bettermidapp-selfie-to-earn-1 .underweight-WRxJDX {
  background-color: transparent;
  color: var(--royal-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 75px;
}

.bettermidapp-selfie-to-earn-1 .x877-WRxJDX {
  background-color: var(--royal-blue);
  border-radius: 5px;
}

.bettermidapp-selfie-to-earn-1 .today-bmi-A4cSad {
  right: calc(28.16% - 23px);
  top: 0px;
  width: 81px;
}

.bettermidapp-selfie-to-earn-1 .overweight-ny26Tj {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 67px;
}

.bettermidapp-selfie-to-earn-1 .x877-ny26Tj {
  background-color: var(--neon-carrot);
  border-radius: 8px;
}

.bettermidapp-selfie-to-earn-1 .today-bmi-wSx6aj {
  right: 0px;
  top: 1px;
  width: 53px;
}

.bettermidapp-selfie-to-earn-1 .obese-VjCO7I {
  background-color: transparent;
  color: #f51ee2;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 39px;
}

.bettermidapp-selfie-to-earn-1 .x877-VjCO7I {
  background-color: #f51ee2;
  border-radius: 8px;
}

.bettermidapp-selfie-to-earn-1 .x16179-FXAneT {
  background-color: transparent;
  bottom: 26px;
  height: 301px;
  left: 15px;
  position: absolute;
  width: calc(100.00% - 30px);
}

.bettermidapp-selfie-to-earn-1 .x16177-0Ljt8o {
  background-color: transparent;
  height: calc(100.00% - 71px);
  left: 21px;
  position: absolute;
  top: 45px;
  width: calc(100.00% - 30px);
}

.bettermidapp-selfie-to-earn-1 .x604-GfALGr {
  background-color: transparent;
  bottom: -1px;
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x11674-GfALGr {
  background-color: transparent;
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: calc(35.43% - 1px);
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x11675-GfALGr {
  background-color: transparent;
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x11676-GfALGr {
  background-color: transparent;
  bottom: calc(31.78% - 1px);
  height: 2px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x21-GfALGr {
  bottom: calc(30.02% - 5px);
  height: 17px;
  left: 15px;
  line-height: 16px;
  text-align: left;
  width: 15px;
}

.bettermidapp-selfie-to-earn-1 .x27-GfALGr {
  height: 17px;
  left: 15px;
  line-height: 16px;
  text-align: left;
  top: calc(34.64% - 6px);
  width: 16px;
}

.bettermidapp-selfie-to-earn-1 .x33-GfALGr {
  background-color: transparent;
  height: 17px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 17px;
}

.bettermidapp-selfie-to-earn-1 .timeline-track-0Ljt8o {
  background-color: transparent;
  height: 15px;
  left: 46px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 71px);
}

.bettermidapp-selfie-to-earn-1 .mean-bmi-kgm2-QHKlEy {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 103px;
}

.bettermidapp-selfie-to-earn-1 .span0-MSSTKa {
}

.bettermidapp-selfie-to-earn-1 .span1-MSSTKa {
}

.bettermidapp-selfie-to-earn-1 .span2-MSSTKa {
}

.bettermidapp-selfie-to-earn-1 .x1-w-QHKlEy {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(39.33% - 8px);
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: 20px;
}

.bettermidapp-selfie-to-earn-1 .x1-m-QHKlEy {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(25.76% - 5px);
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 18px;
}

.bettermidapp-selfie-to-earn-1 .x1-y-QHKlEy {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: 42px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 16px;
}

.bettermidapp-selfie-to-earn-1 .x5-y-QHKlEy {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 17px;
}

.bettermidapp-selfie-to-earn-1 .x11677-0Ljt8o {
  background-color: transparent;
  bottom: 25px;
  height: 147px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 28px);
}

.bettermidapp-selfie-to-earn-1 .x16180-0Ljt8o {
  background-color: transparent;
  bottom: 0px;
  height: 177px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 4px);
}

.bettermidapp-selfie-to-earn-1 .x447-VISwYj {
  background-color: var(--neon-carrot);
  border-radius: 5px;
  height: 10px;
  left: 15px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.bettermidapp-selfie-to-earn-1 .x448-VISwYj {
  background-color: var(--neon-carrot);
  border-radius: 5px;
  height: 10px;
  left: calc(19.80% - 2px);
  position: absolute;
  top: 15px;
  width: 10px;
}

.bettermidapp-selfie-to-earn-1 .x449-VISwYj {
  background-color: var(--neon-carrot);
  border-radius: 5px;
  height: 10px;
  left: calc(35.84% - 4px);
  position: absolute;
  top: 0px;
  width: 10px;
}

.bettermidapp-selfie-to-earn-1 .x450-VISwYj {
  background-color: var(--neon-carrot);
  border-radius: 5px;
  height: 10px;
  position: absolute;
  right: calc(48.12% - 5px);
  top: 25px;
  width: 10px;
}

.bettermidapp-selfie-to-earn-1 .x451-VISwYj {
  background-color: var(--keppel);
  border-radius: 5px;
  height: 10px;
  position: absolute;
  right: calc(32.08% - 3px);
  top: calc(20.30% - 2px);
  width: 10px;
}

.bettermidapp-selfie-to-earn-1 .x452-VISwYj {
  background-color: var(--keppel);
  border-radius: 5px;
  height: 10px;
  position: absolute;
  right: 65px;
  top: calc(23.28% - 2px);
  width: 10px;
}

.bettermidapp-selfie-to-earn-1 .x453-VISwYj {
  background-color: var(--keppel);
  border-radius: 5px;
  height: 10px;
  position: absolute;
  right: 0px;
  top: calc(20.30% - 2px);
  width: 10px;
}

.bettermidapp-selfie-to-earn-1 .mon-VISwYj {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: calc(101.58% - 19px);
  white-space: nowrap;
  width: 31px;
}

.bettermidapp-selfie-to-earn-1 .tue-0Ljt8o {
  background-color: transparent;
  height: 19px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: calc(100.89% - 19px);
  white-space: nowrap;
  width: 26px;
}

.bettermidapp-selfie-to-earn-1 .wed-0Ljt8o {
  background-color: transparent;
  height: 19px;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: calc(100.89% - 19px);
  white-space: nowrap;
  width: 31px;
}

.bettermidapp-selfie-to-earn-1 .sun-0Ljt8o {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 19px;
  left: 392px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: calc(100.89% - 19px);
  white-space: nowrap;
  width: 29px;
}

.bettermidapp-selfie-to-earn-1 .sat-0Ljt8o {
  background-color: transparent;
  height: 19px;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: calc(100.89% - 19px);
  white-space: nowrap;
  width: 24px;
}

.bettermidapp-selfie-to-earn-1 .fri-0Ljt8o {
  background-color: transparent;
  height: 19px;
  left: 271px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: calc(100.89% - 19px);
  white-space: nowrap;
  width: 19px;
}

.bettermidapp-selfie-to-earn-1 .thu-0Ljt8o {
  background-color: transparent;
  height: 19px;
  left: 205px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: calc(100.89% - 19px);
  white-space: nowrap;
  width: 27px;
}

.bettermidapp-selfie-to-earn-1 .calender-MUU5YC {
  background-color: transparent;
  min-height: 339px;
  left: 0px;
  position: absolute;
  top: calc(684px - 21.5px);
  width: 390px;
}

.bettermidapp-selfie-to-earn-1 .november-2020-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 6.66%;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 24.07%;
}

.bettermidapp-selfie-to-earn-1 .x54-isyuxj {
  background-color: var(--electric-violet);
  border: 1px solid;
  border-color: var(--black);
  height: 10.34%;
  left: 0px;
  position: absolute;
  top: 9.90%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .m-isyuxj {
  background-color: transparent;
  height: 5.61%;
  left: 5.63%;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 13.00%;
  white-space: nowrap;
  width: 3.59%;
}

.bettermidapp-selfie-to-earn-1 .x55-isyuxj {
  background-color: var(--electric-violet);
  border: 1px solid;
  border-color: var(--black);
  height: 10.34%;
  left: 14.34%;
  position: absolute;
  top: 9.90%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .t-isyuxj {
  left: 20.49%;
}

.bettermidapp-selfie-to-earn-1 .x56-isyuxj {
  background-color: var(--electric-violet);
  border: 1px solid;
  border-color: var(--black);
  height: 10.34%;
  left: 28.43%;
  position: absolute;
  top: 9.90%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .w-isyuxj {
  background-color: transparent;
  height: 5.61%;
  left: 33.80%;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 13.00%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x57-isyuxj {
  background-color: var(--electric-violet);
  border: 1px solid;
  border-color: var(--black);
  height: 10.34%;
  left: 42.77%;
  position: absolute;
  top: 9.90%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .t-CALwXo {
  left: 48.91%;
}

.bettermidapp-selfie-to-earn-1 .x58-isyuxj {
  background-color: var(--electric-violet);
  border-color: transparent;
  height: 10.34%;
  left: 57.11%;
  position: absolute;
  top: 9.90%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .f-isyuxj {
  background-color: transparent;
  height: 5.61%;
  left: 63.25%;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 13.00%;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x59-isyuxj {
  background-color: var(--electric-violet);
  border-color: transparent;
  height: 10.34%;
  left: 71.45%;
  position: absolute;
  top: 9.90%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .s-isyuxj {
  left: 77.34%;
}

.bettermidapp-selfie-to-earn-1 .x60-isyuxj {
  background-color: var(--electric-violet);
  border-color: transparent;
  height: 10.34%;
  left: 85.53%;
  position: absolute;
  top: 9.90%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .s-CALwXo {
  left: 91.68%;
}

.bettermidapp-selfie-to-earn-1 .x61-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 0px;
  position: absolute;
  top: 20.24%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x26-isyuxj {
  left: 5.38%;
  top: 25.11%;
}

.bettermidapp-selfie-to-earn-1 .x62-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 14.34%;
  position: absolute;
  top: 20.24%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x27-isyuxj {
  height: 5.02%;
  left: 19.72%;
  line-height: 12px;
  text-align: center;
  top: 25.11%;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x63-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 28.43%;
  position: absolute;
  top: 20.24%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x28-isyuxj {
  left: 33.80%;
  top: 25.11%;
}

.bettermidapp-selfie-to-earn-1 .x64-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 42.77%;
  position: absolute;
  top: 20.24%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x29-isyuxj {
  left: 48.14%;
  top: 25.11%;
}

.bettermidapp-selfie-to-earn-1 .x65-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 57.11%;
  position: absolute;
  top: 20.24%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x30-isyuxj {
  left: 62.23%;
  top: 25.11%;
}

.bettermidapp-selfie-to-earn-1 .x66-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 71.45%;
  position: absolute;
  top: 20.24%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x31-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 76.57%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 25.11%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x67-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 85.53%;
  position: absolute;
  top: 20.24%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x68-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 0px;
  position: absolute;
  top: 33.53%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x2-isyuxj {
  left: 6.15%;
  top: 38.41%;
}

.bettermidapp-selfie-to-earn-1 .x69-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 14.34%;
  position: absolute;
  top: 33.53%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x3-isyuxj {
  left: 20.49%;
  top: 38.41%;
}

.bettermidapp-selfie-to-earn-1 .x70-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 28.43%;
  position: absolute;
  top: 33.53%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x71-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 42.77%;
  position: absolute;
  top: 33.53%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x5-isyuxj {
  left: 48.91%;
  top: 38.41%;
}

.bettermidapp-selfie-to-earn-1 .x72-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 57.11%;
  position: absolute;
  top: 33.53%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x6-isyuxj {
  height: 5.02%;
  left: 63.25%;
  letter-spacing: 0.00px;
  line-height: 12px;
  text-align: center;
  top: 38.41%;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x73-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 71.45%;
  position: absolute;
  top: 33.53%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x74-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 85.53%;
  position: absolute;
  top: 33.53%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x8-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 91.68%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 38.41%;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x75-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 0px;
  position: absolute;
  top: 46.83%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x9-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 6.15%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 51.70%;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x76-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 14.34%;
  position: absolute;
  top: 46.83%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x10-isyuxj {
  height: 5.02%;
  left: 19.72%;
  line-height: 12px;
  text-align: center;
  top: 51.70%;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x77-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 28.43%;
  position: absolute;
  top: 46.83%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x11-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 34.06%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 51.70%;
  white-space: nowrap;
  width: 3.59%;
}

.bettermidapp-selfie-to-earn-1 .x78-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 42.77%;
  position: absolute;
  top: 46.83%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x12-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 48.40%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 51.70%;
  white-space: nowrap;
  width: 3.59%;
}

.bettermidapp-selfie-to-earn-1 .x79-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 57.11%;
  position: absolute;
  top: 46.83%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x13-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 62.48%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 51.70%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x80-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 71.45%;
  position: absolute;
  top: 46.83%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x14-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 76.57%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 51.70%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x81-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 85.53%;
  position: absolute;
  top: 46.83%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x15-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 91.17%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 51.70%;
  white-space: nowrap;
  width: 3.59%;
}

.bettermidapp-selfie-to-earn-1 .x82-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 0px;
  position: absolute;
  top: 60.12%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x16-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 5.38%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 64.99%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x83-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 14.34%;
  position: absolute;
  top: 60.12%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x17-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 19.97%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 64.99%;
  white-space: nowrap;
  width: 3.59%;
}

.bettermidapp-selfie-to-earn-1 .x84-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 28.43%;
  position: absolute;
  top: 60.12%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x18-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 34.06%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 64.99%;
  white-space: nowrap;
  width: 3.59%;
}

.bettermidapp-selfie-to-earn-1 .x85-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 42.77%;
  position: absolute;
  top: 60.12%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x19-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 48.14%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 64.99%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x86-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 57.11%;
  position: absolute;
  top: 60.12%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x20-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 62.48%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 64.99%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x87-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 71.45%;
  position: absolute;
  top: 60.12%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x21-isyuxj {
  height: 5.02%;
  left: 76.82%;
  line-height: 12px;
  text-align: center;
  top: 64.99%;
  width: 3.59%;
}

.bettermidapp-selfie-to-earn-1 .x88-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 85.53%;
  position: absolute;
  top: 60.12%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x22-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 90.91%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 64.99%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x89-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 0px;
  position: absolute;
  top: 73.41%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x23-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 5.38%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 78.29%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x90-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 14.34%;
  position: absolute;
  top: 73.41%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x24-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 19.72%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 78.29%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x91-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 28.43%;
  position: absolute;
  top: 73.41%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x25-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 33.80%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 78.29%;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x92-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 42.77%;
  position: absolute;
  top: 73.41%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x26-CALwXo {
  left: 48.14%;
  top: 78.29%;
}

.bettermidapp-selfie-to-earn-1 .x93-isyuxj {
  background-color: var(--electric-violet);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 57.11%;
  position: absolute;
  top: 73.41%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x27-CALwXo {
  height: 5.02%;
  left: 62.48%;
  line-height: 12px;
  text-align: center;
  top: 78.29%;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x94-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 71.45%;
  position: absolute;
  top: 73.41%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x28-CALwXo {
  left: 76.82%;
  top: 78.29%;
}

.bettermidapp-selfie-to-earn-1 .x95-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 85.53%;
  position: absolute;
  top: 73.41%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x29-CALwXo {
  left: 90.91%;
  top: 78.29%;
}

.bettermidapp-selfie-to-earn-1 .x96-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 0px;
  position: absolute;
  top: 86.71%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x30-CALwXo {
  left: 5.12%;
  top: 91.58%;
}

.bettermidapp-selfie-to-earn-1 .x97-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 14.34%;
  position: absolute;
  top: 86.71%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x98-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 28.43%;
  position: absolute;
  top: 86.71%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x2-CALwXo {
  left: 34.57%;
  top: 91.58%;
}

.bettermidapp-selfie-to-earn-1 .x99-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 42.77%;
  position: absolute;
  top: 86.71%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x3-CALwXo {
  left: 48.91%;
  top: 91.58%;
}

.bettermidapp-selfie-to-earn-1 .x100-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 57.11%;
  position: absolute;
  top: 86.71%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x4-isyuxj {
  left: 63.25%;
  top: 91.58%;
}

.bettermidapp-selfie-to-earn-1 .x101-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 71.45%;
  position: absolute;
  top: 86.71%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x5-CALwXo {
  left: 77.59%;
  top: 91.58%;
}

.bettermidapp-selfie-to-earn-1 .x102-isyuxj {
  background-color: var(--eerie-black);
  border: 0.5px solid;
  border-color: var(--woodsmoke);
  height: 13.29%;
  left: 85.53%;
  position: absolute;
  top: 86.71%;
  width: 14.27%;
}

.bettermidapp-selfie-to-earn-1 .x6-CALwXo {
  height: 5.02%;
  left: 91.68%;
  letter-spacing: 0.00px;
  line-height: 12px;
  text-align: center;
  top: 91.58%;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x4-CALwXo {
  left: 34.57%;
  top: 38.41%;
}

.bettermidapp-selfie-to-earn-1 .x1-isyuxj {
  left: 20.74%;
  top: 91.58%;
}

.bettermidapp-selfie-to-earn-1 .x1-CALwXo {
  left: 91.93%;
  top: 25.11%;
}

.bettermidapp-selfie-to-earn-1 .x7-isyuxj {
  background-color: transparent;
  height: 5.02%;
  left: 77.59%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 38.41%;
  white-space: nowrap;
  width: 2.05%;
}

.bettermidapp-selfie-to-earn-1 .arrow-down-isyuxj {
  left: 92.04%;
}

.bettermidapp-selfie-to-earn-1 .arrow-down-CALwXo {
  left: 80.07%;
}

.bettermidapp-selfie-to-earn-1 .bmi-goal-isyuxj {
  bottom: -1px;
  height: 2px;
  left: 1px;
  object-fit: cover;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x16212-MUU5YC {
  background-color: transparent;
  /* max-height: calc(434px + 95px); */
  max-height: 434px;
  left: 0px;
  padding: 25px 0px;
  position: absolute;
  /* top: calc(1023px + 86px - 21.5px); */
  top: calc(1023px + 7px );
  width: 390px;
  border-top: 1px solid var(--cape-cod);
  background-color: var(--eerie-black);
}

.bettermidapp-selfie-to-earn-1 .x888-tDsdhu {
  background-color: var(--eerie-black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.record-title-container {
  display: flex;
  width: calc(390px - 26px);
  height: 60px;
  padding-left: 26px;
  align-items: center;
}

.rewards_card-container {
  /* width: calc(100% - 16px * 2); */
  width: 100%;
  /* height: calc(434px - 60px); */
  height: 90px;
  overflow: auto;
  padding: 0 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.display-selected-data-record-container {
  min-height: 80px;
  width: 100%;
  background: var(--woodsmoke);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.trending-container {
  width: 97px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.5px;
}

.trending-text-container {
  width: 100%;
  text-align: center;
}

.day-and-bmi-data-container {
  width: 188px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.5px;
}

.sigdao-reward-container {
  width: calc(100% - 97px - 188px);

  height: 100%;
  display: flex;
  /* justify-content: left; */
  align-items: center;
  gap: 3.3px;
}


.bettermidapp-selfie-to-earn-1 .records-tDsdhu {
  background-color: transparent;
  height: 23px;
  /* left: 26px; */
  letter-spacing: 0.00px;
  line-height: 20px;
  /* position: absolute; */
  text-align: left;
  /* top: 20px; */
  white-space: nowrap;
  width: 74px;
}

.bettermidapp-selfie-to-earn-1 .view-all-tDsdhu {
  background-color: transparent;
  color: var(--royal-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: 26px;
  text-align: center;
  text-decoration: underline;
  top: 26px;
  white-space: nowrap;
  width: 52px;
}

.bettermidapp-selfie-to-earn-1 .rewards_card-tDsdhu {
  top: 61px;
}

.bettermidapp-selfie-to-earn-1 .x889-zmcmFt {
  background-color: var(--woodsmoke);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x16215-zmcmFt {
  background-color: transparent;
  height: 40px;
  left: calc(35.13% - 28px);
  position: absolute;
  top: calc(49.93% - 20px);
  width: 81px;
}

.bettermidapp-selfie-to-earn-1 .gems-1iHrN3 {
  height: 42.50%;
  left: 0px;
  opacity: 1.0;
  text-align: left;
  top: 66.25%;
  width: 75.90%;
}

.bettermidapp-selfie-to-earn-1 .span0-QduyxW {
}

.bettermidapp-selfie-to-earn-1 .span1-QduyxW {
}



.bettermidapp-selfie-to-earn-1 .icon-arrow-left-zmcmFt {
  bottom: calc(49.08% - 27px);
  height: 56px;
  left: 29px;
  transform: rotate(-90deg);
  width: 38px;
  margin: 0;
}
.selfie-to-earn-img-container{
  height: 16px;
  width: 16px;
  margin: 0;
  position: absolute;
  top: 21.5px;
  left: 40.7px;
}
.bettermidapp-selfie-to-earn-1 .icon-arrow-left-XaN6DJ {
  height: 16px;
  object-fit: cover;
  width: 16px;
}

.bettermidapp-selfie-to-earn-1 .gems-XaN6DJ {
  color: var(--keppel);
  display: inline;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  /* position: relative; */
  top: 45px;
  left: 20px;
  /* right: 0px; */
  /* left: -54.67%; */
  text-align: center;
  /* top: 39.29%; */
  /* transform: rotate(90deg); */
  /* height: ; */
  /* width: 154.67%; */
}

.change-trend-container {
  display: inline
}

.bettermidapp-selfie-to-earn-1 .span0-TIYBsY {
}

.bettermidapp-selfie-to-earn-1 .span1-TIYBsY {
}

.bettermidapp-selfie-to-earn-1 .sigdao-score-zmcmFt {
  right: 5px;
  top: calc(50.00% - 8px);
  width: 68px;
}

.bettermidapp-selfie-to-earn-1 .x10-gfpjFx {
  height: calc(100.00% + 2px);
  line-height: 14px;
  right: -2px;
  text-align: left;
  top: 2px;
  width: 50px;
  margin: 0;
}

.bettermidapp-selfie-to-earn-1 .rewards_card-nmlI20 {
  top: calc(42.66% - 34px);
}

.bettermidapp-selfie-to-earn-1 .x890-Mpkab1 {
  background-color: var(--woodsmoke);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x16214-Mpkab1 {
  background-color: transparent;
  bottom: calc(48.75% - 20px);
  height: 40px;
  left: calc(35.26% - 29px);
  position: absolute;
  width: 82px;
}

.bettermidapp-selfie-to-earn-1 .x300-KvHhju {
  width: 102.44%;
}

.bettermidapp-selfie-to-earn-1 .gems-KvHhju {
  height: 42.50%;
  left: 0px;
  text-align: left;
  top: 66.25%;
  width: 75.00%;
}

.bettermidapp-selfie-to-earn-1 .span0-qBnOdc {
}

.bettermidapp-selfie-to-earn-1 .span1-qBnOdc {
}

.bettermidapp-selfie-to-earn-1 .sigdao-score-Mpkab1 {
  bottom: calc(50.00% - 8px);
  right: 6px;
  width: 60px;
}

.bettermidapp-selfie-to-earn-1 .x10-yKXlxp {
  height: calc(100.00% + 2px);
  line-height: 14px;
  right: -2px;
  text-align: left;
  top: 2px;
  width: 42px;
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-Mpkab1 {
  bottom: calc(47.62% - 28px);
  height: 59px;
  left: 31px;
  transform: rotate(-90deg);
  width: 37px;
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-asZgGJ {
  height: 16px;
  /* left: 57.30%; */
  object-fit: cover;
  /* top: 37.79%; */
  transform: rotate(90deg);
  width: 16px;
}

.bettermidapp-selfie-to-earn-1 .gems-asZgGJ {
  height: 28.81%;
  left: -59.46%;
  text-align: left;
  top: 39.83%;
  transform: rotate(90deg);
  width: 164.86%;
}

.bettermidapp-selfie-to-earn-1 .span0-3MEdcV {
}

.bettermidapp-selfie-to-earn-1 .span1-3MEdcV {
}

.bettermidapp-selfie-to-earn-1 .rewards_card-e93Hp2 {
  bottom: calc(31.92% - 26px);
}

.bettermidapp-selfie-to-earn-1 .x891-fZ4snx {
  background-color: var(--woodsmoke);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x300-JpIuV4 {
  width: 102.47%;
}

.bettermidapp-selfie-to-earn-1 .gems-JpIuV4 {
  height: 42.50%;
  left: 0px;
  text-align: left;
  top: 66.25%;
  width: 75.90%;
}

.bettermidapp-selfie-to-earn-1 .span0-DlW6Hx {
}

.bettermidapp-selfie-to-earn-1 .span1-DlW6Hx {
}

.bettermidapp-selfie-to-earn-1 .sigdao-score-fZ4snx {
  right: 6px;
  top: calc(50.00% - 8px);
  width: 60px;
}

.bettermidapp-selfie-to-earn-1 .x10-Fxih9v {
  height: calc(100.00% + 2px);
  line-height: 14px;
  right: -2px;
  text-align: left;
  top: 2px;
  width: 42px;
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-fZ4snx {
  height: 59px;
  left: 31px;
  top: calc(47.62% - 28px);
  transform: rotate(-90deg);
  width: 37px;
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-mIHqmY {
  height: 27.12%;
  left: 57.30%;
  object-fit: cover;
  top: 37.79%;
  transform: rotate(90deg);
  width: 42.15%;
}

.bettermidapp-selfie-to-earn-1 .gems-mIHqmY {
  height: 28.81%;
  left: -59.46%;
  text-align: left;
  top: 39.83%;
  transform: rotate(90deg);
  width: 164.86%;
}

.bettermidapp-selfie-to-earn-1 .span0-Jw0rRx {
}

.bettermidapp-selfie-to-earn-1 .span1-Jw0rRx {
}

.bettermidapp-selfie-to-earn-1 .rewards_card-eHSbp5 {
  bottom: 23px;
}

.bettermidapp-selfie-to-earn-1 .x11686-PPXLJ6 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x300-oZpTdt {
  width: 102.47%;
}

.bettermidapp-selfie-to-earn-1 .gems-oZpTdt {
  height: 42.50%;
  left: 0px;
  text-align: left;
  top: 66.25%;
  width: 75.90%;
}

.bettermidapp-selfie-to-earn-1 .span0-cxh0Oo {
}

.bettermidapp-selfie-to-earn-1 .span1-cxh0Oo {
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-PPXLJ6 {
  height: 59px;
  left: 31px;
  top: calc(47.62% - 28px);
  transform: rotate(-90deg);
  width: 37px;
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-oQDfpq {
  height: 27.12%;
  left: 57.30%;
  object-fit: cover;
  top: 37.79%;
  transform: rotate(90deg);
  width: 42.15%;
}

.bettermidapp-selfie-to-earn-1 .gems-oQDfpq {
  height: 28.81%;
  left: -59.46%;
  text-align: left;
  top: 39.83%;
  transform: rotate(90deg);
  width: 164.86%;
}

.bettermidapp-selfie-to-earn-1 .span0-xYigu8 {
}

.bettermidapp-selfie-to-earn-1 .span1-xYigu8 {
}

.bettermidapp-selfie-to-earn-1 .sigdao-score-PPXLJ6 {
  right: 6px;
  top: calc(50.00% - 8px);
  width: 60px;
}

.bettermidapp-selfie-to-earn-1 .x10-lqjDaA {
  height: calc(100.00% + 2px);
  line-height: 14px;
  right: -2px;
  text-align: left;
  top: 2px;
  width: 42px;
}

.bettermidapp-selfie-to-earn-1 .title-bar-MUU5YC {
  background-color: transparent;
  height: 88px;
  left: 0px;
  position: fixed;
  top: -0px;
  width: 390px;
}

.bettermidapp-selfie-to-earn-1 .bg-sR63Kz {
  height: calc(100.00% + 90px);
  top: -45px;
  width: calc(100.00% + 90px);
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-sR63Kz {
  bottom: 0px;
  height: 44px;
  left: 16px;
  width: 44px;
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-4CIBDf {
  height: 35.44%;
  left: 31.82%;
  object-fit: cover;
  top: 31.82%;
  width: 36.36%;
}

.bettermidapp-selfie-to-earn-1 .bars-status-bar-i-phone-light-sR63Kz {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .frame-3P76Qo {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  opacity: 0.0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .status-bar-3P76Qo {
  background-color: transparent;
  bottom: calc(47.83% - 9px);
  height: 18px;
  left: 18px;
  position: absolute;
  width: calc(100.00% - 35px);
}

.bettermidapp-selfie-to-earn-1 .battery-oPR44B {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 0px;
  top: calc(42.50% - 5px);
  width: 24px;
}

.bettermidapp-selfie-to-earn-1 .border-Sp32a7 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--white);
  border-radius: 2.67px;
  height: 100%;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.bettermidapp-selfie-to-earn-1 .cap-Sp32a7 {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 1px;
}

.bettermidapp-selfie-to-earn-1 .capacity-Sp32a7 {
  background-color: var(--white);
  border-radius: 1.33px;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}

.bettermidapp-selfie-to-earn-1 .wifi-oPR44B {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 29px;
  top: 3px;
  width: 15px;
}

.bettermidapp-selfie-to-earn-1 .cellular-connection-oPR44B {
  background-color: transparent;
  height: calc(100.00% - 7px);
  object-fit: cover;
  position: absolute;
  right: 50px;
  top: 3px;
  width: 17px;
}

.bettermidapp-selfie-to-earn-1 .time-style-oPR44B {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 54px;
}

.bettermidapp-selfie-to-earn-1 .time-265qqn {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.bettermidapp-selfie-to-earn-1 .selfie-to-earn-sR63Kz {
  background-color: transparent;
  bottom: 8px;
  height: 23px;
  left: calc(25.64% - 30px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 117px;
}

.bettermidapp-selfie-to-earn-1 .ic_help_24px-sR63Kz {
  bottom: 12px;
  height: 20px;
  right: 29px;
  width: 20px;
}

.bettermidapp-selfie-to-earn-1 .ic_help_24px-jZQEQv {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .ic_settings_24px-sR63Kz {
  bottom: 12px;
  height: 20px;
  right: calc(18.62% - 4px);
  width: 19px;
}

.bettermidapp-selfie-to-earn-1 .ic_settings_24px-ILEjEa {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .seperat-line-sR63Kz {
  bottom: 0px;
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-6eAtCY {
  bottom: 0px;
  cursor: pointer;
  height: 44px;
  left: 16px;
  width: 44px;
}

.bettermidapp-selfie-to-earn-1 .icon-arrow-left-pfZzpE {
  height: 35.44%;
  left: 31.82%;
  object-fit: cover;
  top: 31.82%;
  width: 36.36%;
}

.bettermidapp-selfie-to-earn-1 .menu-bar-MUU5YC {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: fixed;
  top: 751px;
  width: 390px;
}

.bettermidapp-selfie-to-earn-1 .menu_bar_bg-uDxPA3 {
  background-color: transparent;
  height: calc(100.00% + 90px);
  left: -45px;
  object-fit: cover;
  position: absolute;
  top: -42px;
  width: calc(100.00% + 90px);
}

.bettermidapp-selfie-to-earn-1 .ic_home-uDxPA3 {
  cursor: pointer;
  height: 23px;
  right: calc(49.86% - 13px);
  top: calc(49.87% - 11px);
  width: 27px;
}

.bettermidapp-selfie-to-earn-1 .ic_home-rMve2K {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .ic_profile-uDxPA3 {
  cursor: pointer;
  height: 23px;
  right: 38px;
  top: calc(49.87% - 11px);
  width: 23px;
}

.bettermidapp-selfie-to-earn-1 .ic_profile-q9Rtb0 {
  height: 100%;
  left: 1px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .ic_rewards-uDxPA3 {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: calc(29.42% - 7px);
  top: calc(49.86% - 11px);
  width: 23px;
}

.bettermidapp-selfie-to-earn-1 .ic_rewards-k5Y4Fx {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: relative;
  top: 1px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x11659-J7Rq0M {
  background-color: transparent;
  bottom: 1px;
  height: 9px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 9px;
}

.bettermidapp-selfie-to-earn-1 .x11660-J7Rq0M {
  background-color: transparent;
  bottom: 1px;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  width: 9px;
}

.bettermidapp-selfie-to-earn-1 .x11661-J7Rq0M {
  background-color: transparent;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .ic_-missions-uDxPA3 {
  bottom: calc(48.57% - 8px);
  cursor: pointer;
  height: 16px;
  left: 34px;
  width: 29px;
}

.bettermidapp-selfie-to-earn-1 .ic_-missions-xOqRNO {
  height: 100%;
  left: 0px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .ic_-selfie-uDxPA3 {
  height: 23px;
  left: calc(30.19% - 8px);
  top: calc(49.87% - 11px);
  width: 25px;
}

.bettermidapp-selfie-to-earn-1 .ic_-selfie-c8vrxJ {
  height: 100%;
  left: 1px;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .seperat-line-uDxPA3 {
  top: 0px;
}

.take-a-selfie-button-container {
  height: calc(185.5px - 21px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding-bottom: 21px; */
}

.bettermidapp-selfie-to-earn-1 .button_-selfie-to-earn-MUU5YC {
  /* background-color: transparent; */
  background: linear-gradient(270deg,  #8743ff 0%, #4136f1 100%);
  border-radius: 15px;
  box-shadow: 0px 10px 30px #1466CC29;
  height: 56px;
  /* left: 30px; */
  /* position: absolute; */
  /* top: 108px; */
  width: 326px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: calc(326px - 37.25px - 33.04px); */
  padding-left: 37.25px;
  padding-right: 33.04px;
}

.bettermidapp-selfie-to-earn-1 .button_bg-u8P1YH {
  background-color: transparent;
  height: calc(100.00% + 90px);
  left: -45px;
  object-fit: cover;
  position: absolute;
  top: -30px;
  width: calc(100.00% + 90px);
}

.bettermidapp-selfie-to-earn-1 .take-a-selfie-to-earn-u8P1YH {
  background-color: transparent;
  margin: 0;
  /* bottom: calc(38.57% - 8px); */
  /* height: 21px; */
  letter-spacing: 0.00px;
  line-height: 16px;
  /* position: relative; */
  /* right: calc(46.02% - 70px); */
  text-align: center;
  white-space: nowrap;
}

.bettermidapp-selfie-to-earn-1 .ic_selfie-u8P1YH {
  background-color: transparent;
  /* top: 0; */
  height: 23px;
  /* left: calc(12.39% - 3px); */
  object-fit: cover;
  /* position: relative; */
  width: 25px;
}

.bettermidapp-selfie-to-earn-1 .ic_arrow_forward-u8P1YH {
  background-color: transparent;
  height: 16px;
  object-fit: cover;
  /* position: relative;
  right: 0;
  top: calc(50.00% - 8px); */
  width: 16px;
}

.bettermidapp-selfie-to-earn-1 .arrow-down {
  background-color: transparent;
  height: 2.36%;
  object-fit: cover;
  position: absolute;
  top: 1.18%;
  width: 1.17%;
}

.bettermidapp-selfie-to-earn-1 .bg {
  background-color: transparent;
  left: -45px;
  object-fit: cover;
  position: absolute;
}

.bettermidapp-selfie-to-earn-1 .bmi-goal {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-selfie-to-earn-1 .gems {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  white-space: nowrap;
}

.bettermidapp-selfie-to-earn-1 .rewards_card {
  background-color: transparent;
  height: 80px;
  left: 16px;
  position: absolute;
  width: calc(100.00% - 32px);
}

.bettermidapp-selfie-to-earn-1 .s {
  background-color: transparent;
  height: 5.61%;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 13.00%;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .seperat-line {
  background-color: transparent;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 1px);
}

.bettermidapp-selfie-to-earn-1 .sigdao-score {
  background-color: transparent;
  height: 17px;
  position: absolute;
}

.bettermidapp-selfie-to-earn-1 .signdao_tokengradient {
  background-color: transparent;
  /* height: 100%; */
  /* left: 0px; */
  position: relative;
  /* top: 1px; */
  width: 17px;
  height: 17px;
}

.bettermidapp-selfie-to-earn-1 .t {
  background-color: transparent;
  height: 5.61%;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 13.00%;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .today-bmi {
  background-color: transparent;
  height: calc(100.00% - 1px);
  position: absolute;
}

.bettermidapp-selfie-to-earn-1 .x1 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 2.05%;
}

.bettermidapp-selfie-to-earn-1 .x10 {
  background-color: transparent;
  letter-spacing: 0.00px;
  position: absolute;
  white-space: nowrap;
}

.bettermidapp-selfie-to-earn-1 .x16216 {
  background-color: transparent;
  bottom: calc(48.75% - 20px);
  height: 40px;
  left: calc(35.13% - 28px);
  position: absolute;
  width: 81px;
}

.bettermidapp-selfie-to-earn-1 .x2 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x21 {
  background-color: transparent;
  letter-spacing: 0.00px;
  position: absolute;
  white-space: nowrap;
}

.bettermidapp-selfie-to-earn-1 .x26 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x27 {
  background-color: transparent;
  letter-spacing: 0.00px;
  position: absolute;
  white-space: nowrap;
}

.bettermidapp-selfie-to-earn-1 .x28 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x29 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 4.10%;
}

.bettermidapp-selfie-to-earn-1 .x3 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x30 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 4.61%;
}

.bettermidapp-selfie-to-earn-1 .x300 {
  background-color: transparent;
  height: 52.50%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 7.50%;
  white-space: nowrap;
}

.bettermidapp-selfie-to-earn-1 .x4 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x441 {
  background-color: var(--white);
  border-radius: 8.26px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bettermidapp-selfie-to-earn-1 .x442 {
  background: linear-gradient(224.44deg, #00ffa3 5.74%, #ff00ff 87.84%);
  background-color: transparent;
  border-radius: 8.03px;
  height: 97.18%;
  left: 1.41%;
  position: absolute;
  top: 1.41%;
  width: 97.18%;
}

.bettermidapp-selfie-to-earn-1 .x5 {
  background-color: transparent;
  height: 5.02%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 2.56%;
}

.bettermidapp-selfie-to-earn-1 .x6 {
  background-color: transparent;
  position: absolute;
}

.bettermidapp-selfie-to-earn-1 .x877 {
  height: calc(100.00% - 5px);
  left: 0px;
  position: absolute;
  top: 2px;
  width: 13px;
}

.bettermidapp-selfie-to-earn-1 .x880 {
  background-color: transparent;
  height: 54.69%;
  left: 25.90%;
  object-fit: cover;
  position: absolute;
  top: 22.14%;
  width: 47.30%;
}

.mean-bmi-discription-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 25px * 2);
  align-items: center;
  /* margin: 0 10px; */
  padding: 0 25px;
  background: var(--eerie-black);
  width: 100%;
}

.mean-bmi-setting {
  display: flex;
  gap: 29px;
  padding: 0;
}

.mean-bmi-setting-item-selected, .mean-bmi-setting-item {
  color: white;
  list-style: none;
  cursor: pointer;
}

.mean-bmi-setting-item-selected {
  text-decoration: underline;
  font-weight: 700;
}

.mean-bmi-discription {
  color: white;
  /* font-size: 12px;
  margin-top: 10px; */
}


.rewards_card-container::-webkit-scrollbar {

  display: none;
  width: 0;
}
/* .rewards_card-container::-webkit-scrollbar-thumb {
	background-color: #111;
	border-radius: 20px;
} */

.no-record-container {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100%;
}