.banner_challengeCompleted{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 159px;
    background-color:blue;
width: 392px;


}

.hi {
    width:392px;
    margin:auto;
  }
  
  .main{
    height:100px;
  
    display: flex;
    flex-direction: row;
    width:100%;
  }
  
  .container1{
  width:calc(50% - 196px);
  background-color: inherit;
  height:159px;
  }
  .container2{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width:392px;
    background-color: inherit;
    height:159px;
    overflow: hidden;
    justify-content: space-between;
    box-shadow: 0px 3px 30px var(--royal-blue);
  }
  .container3{
    width:calc(50% - 196px);
    background-color: inherit;
    height:159px;
    }
  .banner{
    color:aquamarine;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:392px;
    align-self: center;
    height:30px;
  
  }
  .icon{
    align-self: center;
    display:flex;
    margin-left: 15px;
  }
  .title{
    align-self: center;
    display:flex;
    margin-left: 20px;
    /* font-family: 'Inter';
    font-weight: 600; semiBold */
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin-left:50px;
  }
  @media screen and (min-width: 392px) {
    global {
      display: fixed;
    }
  }
  
  .button1{
    height:50px;
    background-color: inherit;
    border-top:inherit;
    border-left: inherit;
    border-right: inherit;
    color:#FFFFFF;
    margin-left: 15px;
    /* border-color: #39B3AF; */
    /* font-family: 'Inter';
    font-weight: 600; /*semiBold*/
    font-size: 15px; 
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
    width:100px;
    border-color: #39B3AF;
    border-top:inherit;
    border-left: inherit;
    border-right: inherit;
    border-width: 3px;
    
  }
  .button1:hover{
    border-color: #18efe8;
    border-top:inherit;
    border-left: inherit;
    border-right: inherit;
    border-width: 3px;
    
  }
 .button2:hover ~ .button1{
    border-color: inherit   ;
    border-top:inherit;
    border-left: inherit;
    border-right: inherit;
    border-width: 3px;
    background-color: aquamarine;
  }
  /* .button2:hover{
    border-color: inherit;
    border-top:inherit;
    border-left: inherit;
    border-right: inherit;
    border-width: 3px;
    
  } */
  .button2{
    border-top:inherit;
    border-left: inherit;
    border-right: inherit;
    border-width: 3px;
    color:#FFFFFF;
    background-color: inherit;
    height:50px;
    /* font-family: 'Inter';
    font-weight: 600; /*semiBold*/
    font-size: 15px; 
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
    width:100px;
  }
  .button3{
    border-top:inherit;
    border-left: inherit;
    border-right: inherit;
    border-width: 3px;
    color:#FFFFFF;
    background-color: inherit;
    height:50px;
    margin-right: 85px;
    /* font-family: 'Inter';
    font-weight: 600; /*semiBold*/
    font-size: 15px; 
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
    width:100px;
    align-items: start;
  }
  .titleBar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:392px;
    align-self: flex-end;
    height:50px;
  }
  .iconBar{
    display:flex;
    flex-direction:row;
  }
.navbarChallengeComplete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 159px;
    width:100%;
align-self: flex-start;
}
.body{
    height:calc(100% - 159px);
    display:flex;
    flex-direction: row;
}

.body1{
    width:calc(50% - 196px);
    background-color: inherit;
    height:calc(100% - 159px);
}
.body2{
    display:flex;
    flex-direction:column;
    width:392px;
    /* height:calc(100% - 159px); */
    background:  linear-gradient(112deg, #221D4B 0%, #171717 100%);
    overflow: auto;
    margin-top: 20px;
}
.body2::-webkit-scrollbar {
  display: none;
}
.body3{
    width:calc(50% - 196px);
    background-color: inherit;
    height:calc(100% - 159px);
}

.challengeCompletedLink{
    display:flex;
    flex-direction:row;
    height:150px;
    width:calc(100% - 50px);
    align-self: center;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: auto;
    background-color: #0D0D0D;
    border: 1px solid #4136F1;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: auto;
}
.challengeCompletedLink:hover{
    cursor: pointer;

}

.rewardTitle{
    width:calc(100% - 50px);
    align-self: center;
    height:50px;
    color:#4136F1;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    margin-bottom:20px;
    margin-left:30px;
}

.buttonIconChallengeCompleted{
    height:107px;
    width:107px;
    align-self: center;
    margin-left: 10px;
}

.descriptionChallengeCompleted{
    display:flex;
    flex-direction: column;
    align-self: center;
    height:107px;
    margin-left: 15px;
    justify-content: space-between;
    background-color:inherit;
    width:166px;
    align-items: start;

}
.descriptionTitleChallengeCompleted{
    font-size: 18px; 
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 600;
}
.descriptionBodyChallengeCompleted{
    text-align: left;
    color: #A6B3BB98;
}
.descriptionBottomBodyChallengeCompleted{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:calc(100% );
    align-self: center;
    height:44px;
    background-color: inherit;
    align-items: center;
}
.descriptionBottomCountChallengeComplete{
    width:65px;
    height:35px;
    background-color:#171717;
    border-radius: 5px;
    color: var(--white);
    border:hidden;
}
.descriptionBottomCountChallengeComplete:hover{
    cursor: pointer;
    background-color: #123456;
}
  /*Anderson's code stops here*/




  