/* screen - bettermidapp-create-connect-3 */


  
  .referralCode-layout {
    /* position: absolute; */
    /* left: calc((100% - 820px) / 2); */
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to bottom right, #221D4B, #171717); */
    background: #1b192b;
    overflow-x: hidden;
    display: flex;
    align-items: center;
  }
  
  #referralCodeTopic {
    margin-top: 0px;
    margin-bottom: 27px;
    text-align: center;
  }
  
  #referralCodeDisciption {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 52px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  
  .referralCode-layout .photo {
    width: 100%;
  }
  
  
  
  #referralCode-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .EntranceScreenTemplate-explore-button {
    cursor: pointer;
  }
  
  .referralCode-option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
  }
  
  .referralCode-bg-img-container {
    width: 280px;
    height: 394px;
    /* padding-bottom: 20px; */
    /* margin-bottom: 20px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .referralCode-bg-img {
    /* position: absolute; */
    width: 280px;
    height: 344px;
    object-fit: cover;
  }
  
  @media screen and (max-height: 594px) {
    #referralCode-button-container {
      /* position: fixed; */
      /* bottom: 20px; */
    }
  
    #referralCode-container {
        justify-content: flex-start;
    }
  }
  
  
  @media screen and (max-width: 320px) {

  
    #referralCode-button-container {
  
      gap: 20px;
      flex-direction: column-reverse;
    }
  }
/*   
  @media (min-width: 768px) {
    #referralCode-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        min-height: auto;
    }
  } */
  /* #referralCode-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 100%;
    min-height: auto;
  } */
  /* @media (max-width: 768px) {
    #referralCode-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        min-height: auto;
        margin-bottom: 20%;
    }
  }
 */
  .referralCodeTitle{
    display:flex;
    align-items: center;
    flex-direction: column;
    color:white;
    margin-bottom: 40px;
  }
  .EntranceContent{
    font-size: 15px;
    opacity: 70%;
  }
  .EntranceTitle{
    font-size:28px;
  }
  .referralCodeButtonContainter{
    margin-top: 25px;
  }


  .referral-pop-up-warn-lower-content {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    margin-top: 10px;
  }

  .referral-button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    bottom: -28px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .standard-popup-window-lower-content {
    
  }
  .referral-pop-up-warn-description{
    margin-bottom:10px;
  }