.edit-profile-layer{
    overflow: hidden;
}

.nftPrice {
    color: var(--cadet-blue);
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    /* min-height: 87px; */
    width: 262px;
    margin: 0;
  }
  
  .nftBar-1 {
    align-items: flex-end;
    display: flex;
    height: 56px;
    min-width: 300px;
    padding: 16.5px 15px;
    top: 250px;
    color: #FFFFFF;
  }
  .nftSearchBar-4{
    background-color: #FFFFFF08;
    border-radius: 10px;
    left: 61px;
    position: absolute;
  }

  .nftActiveCard{
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    width: 262px;
    margin: 0;
  }

.allNftListModel{
    background-color: #FFFFFF08;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
}
.allNftButton{
  width:100px;
  height:31px;
  background:  linear-gradient(90deg, #4136F1 0%, #8643FF 100%);
  border-radius: 3px;
  border: 0px;
  color:#FFFFFF;
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.allNftButton:hover{
  background:  linear-gradient(90deg, #8643FF 0%, #4136F1 100%);
}
.allNftBottom{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}

.allNftButton{
  width:100px;
  height:31px;
  background:  linear-gradient(90deg, #4136F1 0%, #8643FF 100%);
  border-radius: 3px;
  border: 0px;
  color:#FFFFFF;
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.allNftBottom{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}