:root {
  /* --eerie-black: rgba(23, 23, 23, 1);
  --port-gore: rgba(34, 29, 75, 1);
  --keppel: rgba(57, 179, 175, 1);
  --royal-blue: rgba(65, 54, 241, 1);
  --cadet-blue: rgba(166, 179, 187, 0.596);
  --white-2: rgba(255, 255, 255, 0);
  --white-3: rgba(255, 255, 255, 0.349);
  --white: rgba(255, 255, 255, 1);

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 15px;
  --font-size-l: 16px;
  --font-size-xl: 28px;

  --font-family-inter: "Inter";
  --font-family-sfpro_text-semibold: "SFPro Text-Semibold"; */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.default-font-setting {
  color: var(--white);
}